<%
function fechaLatino(string){
    if(string.split('-').length == 3){
        return [string.split('-')[2],string.split('-')[1],string.split('-')[0]].join('-');
    }
    else{
        return [string.split('/')[1],string.split('/')[0],string.split('/')[2]].join('/');
    }
}
%>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-sm-10 o_control_panel" style="margin: 0; padding: 10px; display: flex; position: fixed; z-index: 10; width: 81.6%">
        <div class="row" style="width: 100%">
            <div class="col-md-6">
                <ol class="breadcrumb" style="width: 100%;padding: 10px 2px 35px 20px; margin: 0">
                    <li class="active" style="font-size: 18px">Inventario Rotativo de Materias Primas</li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group o_searchview" style="margin: 0;padding: 0;">
                            <div class="form-control" style="display:flex; vertical-align: center">
                                <input id="filtro_inv" style="border: none;" placeholder="Buscar material…" type="text" value="placa">
                            </div>
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" style="width: 110px; margin-top: 5px" id="select_inv">
                            <option value="1" class="cambiar_semana">Semana 1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="margin: 0px; margin-top: 5px">
                            <button id="add_semana" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Semana</button>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-left: 0">
                        <div class="form-group" style="margin: 0px; margin-top: 5px">
                            <button id="actualizar" class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-refresh"></i> Actualizar Inventario</button>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-main" style=" margin: 0; padding: 0;">
    <div class="col-sm-12 col-md-12 main-page" style="margin: 0; padding: 0; z-index: 5; width: 100%; margin-top: 91px">
        
    </div>
</div>
<!-- Funcion para parsear nros -->
<script src="parsear_nro.js"></script>

<script type="text/javascript">
    var semana = 1;
    var max_semanas = 1;
    $(document).ready(function(){
        $.ajax({
            type: 'POST',
            data: {semana: $("#select_inv").val(), filtro: $("#filtro_inv").val()},
            url: '/matprimas/table_inventario',
            success: function(data){
                $(".main-page").html(data);
                // Obtengo las semanas e Inserto las semanas en el select
                if($("#cant_semana").html() != null && $("#cant_semana").html() != ''){
                    semana = $("#cant_semana").html();
                    max_semanas = semana;
                    for(var i=1; i<semana; i++){
                        $("#select_inv").append("<option value='" + (i+1) + "' class='cambiar_semana'>Semana " + (i+1) + "</option>");
                    }
                }
            }
        });
    });

    // Filtra los materiales mediante el buscador
    $("#filtro_inv").on('keyup', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            data: {semana: $("#select_inv").val(), filtro: $("#filtro_inv").val()},
            url: '/matprimas/table_inventario',
            success: function(data){
                $(".main-page").html(data);
            }
        });
    });

    // Cambia el numero de la semana de la tabla
    $("#select_inv").on('change', function(e){
        e.preventDefault();
        $(".semana").html("Semana " + $("#select_inv").val());
    });

    // Aumenta las semanas en el select
    $("#add_semana").on('click', function(e){
        e.preventDefault();
        max_semanas = max_semanas + 1;
        $("#select_inv").append("<option value='" + max_semanas + "' class='cambiar_semana'>Semana " + max_semanas + "</option>");
    });

    // Actualiza el inventario con los datos ingresados
    $("#actualizar").on('click', function(e){
        e.preventDefault();
        // data almacena una matriz con filas que contienen: idmaterial, stock_inv y emisor
        var data = [];
        var count = -1;
        var last_id = 0;
        $("#data_inventario input.form-control").each(function(e){
            if($(this).data("tipo") == "inv" && this.value != ""){
                count++;
                last_id = $(this).data("id");
            }
            if($(this).data("tipo") == "inv"){
                if(this.value != "") {
                    data.push([$(this).data("id"),this.value]);
                }
            } else{
                if(last_id == $(this).data("id").split("emisor")[1]){
                    if(this.value != ""){
                        data[count].push(this.value);
                    } else{
                        alert("Ingrese todos los Emisores");
                        return;
                    }
                }
            }
        });
        console.log(data);
    });

</script>