<style>
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
</style>

<div class="modal fade" id="anularRecepcionModal" tabindex="-1" role="dialog">
    <form class="form-inline" id="anuRecForm"></form>
</div><!-- /.modal -->

<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
            <li class="active">Recepción de Materias Primas</li>
            <div id="indicador_paginas" data-total="0" style="margin-right: 3px"></div>

        </ol>
        <div style="width: 50%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">
                <div class="form-control etiqueta-input" style="display:flex; vertical-align: center">
                    <div class="etiqueta-filtro-div" style="height: 100%;" data-cant="0">
                    </div>
                    <input id="buscar_recepcion" style="border: none;" placeholder="Buscar…" type="text" onkeydown="despInput(event)">
                    <input id="buscar_recepcion-value" style="display: none" type="text">
                </div>
                <ul class="dropdown-menu o_searchview_autocomplete" data-item="0" role="menu" style="display: none;">
                    <li data-searchcol="0" class="item0 fill-item-abast o-selection-focus"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Guías de Despacho</em> para: <strong></strong></a></li>
                    <li data-searchcol="1" class="item1 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Descripción</em> para: <strong></strong></a></li>
                    <li data-searchcol="2" class="item2 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Fecha de Registro</em> para: <strong></strong></a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_movimientos' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>

                <div class="filters" style="display: flex;"></div>
            </div>
        </div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<style>
    .ch_page:hover{
        cursor:pointer;
        color: black;
        font-size: 15px;
    }
</style>
<script type="text/javascript">
    var array_fill = [
        "GD@success",
        "Descripción@warning",
        "Registro@default"
    ];
    var busc = new Buscador("buscar_recepcion", ".o_searchview", array_fill, "/matprimas/table_recepcion", "receps_table", true, true, '.filters', 'recepcion.fecha');

    busc.add_cond = "recepcion.visible";
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
    });
    //PARA QUE EL FILTRO NO SE CIERRE AL SELECCIONAR ALGUNA OPCION
    $(document).on('click', '.fill_cc .dropdown-menu', function (e) {
        e.stopPropagation();
    });


    $('.view-option').on('click', function(e){
        e.preventDefault();
        $('.view-option').removeClass('active');
        $(this).addClass('active');
        if($(this).data('view') == 'table_recepcion'){
            $.ajax({
                type: 'POST',
                data: {orden: 'recepcion_detalle.idrecepcion-DESC', clave: filtros_seleccionados.join(',')},
                url: '/matprimas/table_recepcion',
                success: function(data){
                    $(".main-page").html(data);
                }
            });
        }

    });

    function fill_oda_cc(yo){
        $('.dropdown.open .dropdown_btn_ccfill').dropdown('toggle');
    }

    function change_mulselected(yo){
        var beforeCheck = $(yo).data('allbeforecheck');
        if($("#all_option_cc").is(':selected') && !beforeCheck){
            $(yo).data('allbeforecheck', 1);
            $(".option_multiple_select").prop("selected", true);
        }
        else if(!$("#all_option_cc").is(':selected')){
            $(yo).data('allbeforecheck', 0);
        }
    }

    $("form#anuRecForm").submit(function(e){
        e.preventDefault();
        if(confirm("¿Está seguro?")){
            var array = $(this).serializeArray();
            var datos = {};
            for(var i=0; i < array.length; i++){
                if(array[i].name === 'idrecepcion'){
                    datos[array[i].name] = array[i].value;
                }else{
                    if(datos[array[i].name]){
                        datos[array[i].name].push(array[i].value);
                    }else{
                        datos[array[i].name] = [array[i].value];
                    }
                }
            }
            $.ajax({
                type: 'POST',
                data: datos,
                url: '/matprimas/anular_recepcion',
                success: function(data){
                    if(data==='ok'){
                        alert("¡Recepción Anulado con exito!");
                    }
                    else{
                        alert("¡Ha ocurrido un error!");
                    }

                    $("#anularRecepcionModal").modal('hide');
                    busc.buscar_action();
                }
            });
        }
    });

</script>
<script src="/buscador_funciones.js"></script>