
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
            <li class="active">Stock de Materias Primas</li>
            <div style="display: flex;">
                <div id="indicador_paginas" data-total="0" style="margin-right: 3px"></div>
            </div>
        </ol>
        <div style="width: 50%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">

            </div>
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_movimientos' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
                <div class="date-fill" style="display: flex;">

                </div>
            </div>
            <div class="form-group pull-right filtro_estado" style="margin-top: 10px;">
                <select class="form-control" id="filtro_estado">
                    <option value="true" selected>Todos</option>
                    <option value="(material.stock<=material.stock_c)">Crítico</option>
                    <option value="(material.stock<=material.stock_i and material.stock>material.stock_c)">Aviso</option>
                    <option value="(material.stock>material.stock_i)">Abastecido</option>

                </select>

            </div>
        </div>

    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<style>
    .ch_page:hover{
        cursor:pointer;
        color: black;
        font-size: 15px;
    }
</style>
<script type="text/javascript">
    var array_fill = [
        "Detalle@success",
        "Unidad@warning"
    ];
    var busc = new Buscador("buscar_mprimas", ".o_searchview", array_fill, "/matprimas/table_mprimas", "tablaStock", false, false);

    busc.add_cond = "(material.show_mp is true)";
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
    });
    //PARA QUE EL FILTRO NO SE CIERRE AL SELECCIONAR ALGUNA OPCION
    $(document).on('click', '.fill_cc .dropdown-menu', function (e) {
        e.stopPropagation();
    });

    $("#filtro_estado").on('change', function(e){
        e.preventDefault();
        busc.add_cond = "((material.show_mp is true) and "+$(this).val()+")";
        busc.buscar_action();
    });

    $('.view-option').on('click', function(e){
        e.preventDefault();
        $('.view-option').removeClass('active');
        $(this).addClass('active');
        if($(this).data('view') == 'table_movimientos'){
            $.ajax({
                type: 'POST',
                data: {orden: 'movimiento_detalle.idmovimiento-DESC', clave: $("#buscar_movimiento").val()},
                url: '/matprimas/table_movimientos',
                success: function(data){
                    $(".main-page").html(data);
                }
            });
        }

    });

    function fill_oda_cc(yo){
        $('.dropdown.open .dropdown_btn_ccfill').dropdown('toggle');
    }

    function change_mulselected(yo){
        var beforeCheck = $(yo).data('allbeforecheck');
        if($("#all_option_cc").is(':selected') && !beforeCheck){
            $(yo).data('allbeforecheck', 1);
            $(".option_multiple_select").prop("selected", true);
        }
        else if(!$("#all_option_cc").is(':selected')){
            $(yo).data('allbeforecheck', 0);
        }
    }



</script>
<script src="/buscador_funciones.js"></script>