<style>
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
</style>

<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
            <li class="active">Resumen de Registros</li>
            <div style="display: flex;">
                <div id="indicador_paginas" data-total="0" style="margin-right: 3px"></div>
            </div>
        </ol>
        <div style="width: 50%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">

            </div>
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <div class="date-fill" style="display: flex;">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<style>
    .ch_page:hover{
        cursor:pointer;
        color: black;
        font-size: 15px;
    }
</style>
<script type="text/javascript">
    var array_fill = [
        "N°Registro@success",
        "Descripción@warning",
        "Proveedor/Responsable@danger"
    ];
    var busc = new Buscador("buscar_registros", ".o_searchview", array_fill, "/matprimas/table_registros", "tablaRegistros", true, true, '.date-fill', 'table_query.fecha', "Mostrando%Sregistro");

    busc.add_cond = "";
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
    });



</script>
<script src="/buscador_funciones.js"></script>