        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

</body>
<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: 'gerencia/material_pendiente',
        success: function(data){
            $("#page-wrapper").html(data);
        }
    });
    $("#ver_of").on('click', function(e){
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/plan/list_ofs',
            success: function(data){
                $("#page-wrapper").html(data);
            }
        });
    });
    $("#show_prod").on('click', function(e){
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/plan/show_prod',
            success: function(data){
                $("#page-wrapper").html(data);
            }
        });
    });

    /* $("#cuentas").on('click', function(e){
         e.preventDefault();
         $.ajax({
             type: 'GET',
             url: 'render_admin',
             success: function(data){
                 $("#page-wrapper").html(data);
             }
         });
     });

     $("#informes").on('click', function(e){
         e.preventDefault();
         $.ajax({
             type: 'GET',
             url: 'render_informes',
             success: function(data){
                 $("#page-wrapper").html(data);
             }
         });
     });
     $("#material_lanzamiento").on('click', function(e){
         e.preventDefault();
         $.ajax({
             type: 'GET',
             url: 'render_ficha_lanzamiento',
             success: function(data){
                 $("#page-wrapper").html(data);
             }
         });
     });*/
</script>
</html>