<style>
    .vista-pill:hover{
        cursor:pointer;
    }
     .o_searchview_autocomplete {
         position: absolute;
         top: 100%;
         left: auto;
         bottom: auto;
         right: auto;
         width: 100%;
     }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
</style>
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
            <li class="active">Orden de Producción</li>
            <!-- Mostrar cantidad de datos -->
            <div id="" style="margin-top: 8px; font-size: 12px">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="vista-pill active" data-info="ex"><a>Existencias</a></li>
                    <li role="presentation" class="vista-pill" data-info="prog"><a>Progreso</a></li>
                </ul>
            </div>
        </ol>
        <div style="width: 40%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">

            </div>
            <div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
                <button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="getcsvof" data-tipo="opdetalle"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel Detalle</a></li>
                    <li><a href="#" class="getcsvof" data-tipo="op"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
                </ul>
            </div>
            <!--<input type="text" id="buscar_produccion" class="form-control pull-right" placeholder="Buscar...">-->
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_pedidos/pedido.f_entrega-ASC/1' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
            </div>
            <label style="margin-left: 20px"><input type="checkbox" id="groupP">Agrupar Producciones</label>
        </div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<style type="text/css">
    .caption a:hover{
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    var array_fill = [
        "Detalle@primary",
        "OP@success",
        "OF@info"
    ];
    var busc = new Buscador("buscar_produccion", ".o_searchview", array_fill, "/jefeprod/table_producciones", "prodTable", false, false);

    busc.add_cond = "table_prod.el=false";
    busc.extraInfo = ['false'];
    // Carga la tabla de pedidos
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
        //reSearch();

    });
    $("#groupP").on('change', function (e) {
       e.preventDefault();
       if($(this).is(':checked')){
           busc.extraInfo = ['true'];
       }
       else{
           busc.extraInfo = ['false'];
       }
       busc.buscar_action();
    });

    $(".vista-pill").on('click', function(e){
        e.preventDefault();
        $('#groupP').parent().toggleClass('hidden');
        if($(this).data('info') === 'ex'){
            busc.add_cond = "table_prod.el=false";
            busc.url = "/jefeprod/table_producciones";
        }else{
            $('#groupP').prop('checked', false);
            busc.add_cond = "produccion.el=false";
            busc.url = "/jefeprod/table_producciones_progreso";
        }
        $(".vista-pill").removeClass('active');
        $(this).addClass('active');
        busc.buscar_action();
        if($(this).data('info') === 'ex'){
            busc.idtabla = "prodTable";
        }else{
            busc.idtabla = "progresoTable";
        }
    });

    function reSearch(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        if($(".vista-pill.active").data('info') === 'ex'){
            $.ajax({
                type: 'POST',
                data: {clave: filtros_seleccionados.join(','), agrupar: $("#groupP").is(':checked')},
                url: '/jefeprod/table_producciones',
                beforeSend: function(){
                    destroyThisDataTable("#prodTable");
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
                success: function(data){
                    $(".main-page").html(data);
                    $("#fw-container").css('margin-top', $("#oe_main_menu_navbar").height()+$("#up-fills").height()-8);
                }
            });
        }
        else if($(".vista-pill.active").data('info') === 'prog'){
            $.ajax({
                type: 'POST',
                data: {clave: filtros_seleccionados.join(','), agrupar: $("#groupP").is(':checked')},
                url: '/jefeprod/table_producciones_progreso',
                beforeSend: function(){
                    destroyDataTable();
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
                success: function(data){
                    $(".main-page").html(data);
                    $("#fw-container").css('margin-top', $("#oe_main_menu_navbar").height()+$("#up-fills").height()-5);
                }
            });
        }
    }





    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/jefeprod/xlsx_' + $(yo).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });

</script>

<script src="/buscador_funciones.js"></script>