<style>
    .vista-pill:hover{
        cursor:pointer;
    }
     .o_searchview_autocomplete {
         position: absolute;
         top: 100%;
         left: auto;
         bottom: auto;
         right: auto;
         width: 100%;
     }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
</style>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-sm-12 o_control_panel" style="margin: 0; padding: 10px; display: flex; position: fixed; z-index: 10; width: 82.6%;">


        <ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
            <li class="active">Orden de Producción</li>

            <!-- Mostrar cantidad de datos -->
            <div id="" style="margin-top: 8px; font-size: 12px">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="vista-pill active" data-info="ex"><a>Existencias</a></li>
                    <li role="presentation" class="vista-pill" data-info="prog"><a>Progreso</a></li>
                </ul>
            </div>

        </ol>
        <div style="width: 40%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">
                <div class="form-control etiqueta-input" style="display:flex; vertical-align: center">
                    <div class="etiqueta-filtro-div" style="height: 100%;" data-cant="0">
                    </div>
                    <input id="buscar_produccion" style="border: none;" placeholder="Buscar…" type="text" onkeydown="despInput(event)">
                    <input id="buscar_produccion-value" style="display: none" type="text">
                </div>
                <ul class="dropdown-menu o_searchview_autocomplete" data-item="0" role="menu" style="display: none;">
                    <li data-searchcol="0" class="item0 fill-item-abast o-selection-focus"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Descripción</em> para: <strong></strong></a></li>
                    <li data-searchcol="1" class="item1 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>N° OP</em> para: <strong></strong></a></li>
                    <li data-searchcol="2" class="item2 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>N° OF</em> para: <strong></strong></a></li>
                </ul>
            </div>
            <!--<input type="text" id="buscar_produccion" class="form-control pull-right" placeholder="Buscar...">-->
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_pedidos/pedido.f_entrega-ASC/1' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
            </div>
            <label style="margin-left: 20px"><input type="checkbox" onclick="reSearch()" id="groupP">Agrupar Producciones</label>
        </div>
    </div>
</div>
<div class="row row-main" style=" margin: 0; padding: 0;">
    <div class="col-sm-12 main-page" style="margin: 0; padding: 0; z-index: 5;"></div>
</div>

<style type="text/css">
    .caption a:hover{
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    var array_fill = [
        "Detalle@primary",
        "OP@success",
        "OF@info"
    ];
    var filtros_seleccionados = [];
    // Carga la tabla de pedidos
    $(document).ready(function(){
        reSearch();
        $(".row-main").css('padding-top', $(".o_control_panel").css('height') );
    });

    $(".vista-pill").on('click', function(e){
        e.preventDefault();
        $(".vista-pill").removeClass('active');
        $(this).addClass('active');
        reSearch();
    });

    /*$("#buscar_produccion").on('keyup', function(e){
        e.preventDefault();
        reSearch();
    });*/
    function reSearch(){
        if($(".vista-pill.active").data('info') == 'ex'){
            $.ajax({
                type: 'POST',
                data: {clave: filtros_seleccionados.join(','),agrupar: $("#groupP").is(':checked')},
                url: '/jefeprod/table_producciones',
                beforeSend: function(){
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de pedidos
                    $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                }
            });
            /*$.ajax({
                type: 'POST',
                data: {clave: $("#buscar_produccion").val(), agrupar: $("#groupP").is(':checked')},
                url: '/jefeprod/table_producciones',
                success: function(data){
                    $(".main-page").html(data);
                }
            });*/
        }
        else if($(".vista-pill.active").data('info') == 'prog'){
            $.ajax({
                type: 'POST',
                data: {clave: $("#buscar_produccion").val(), agrupar: $("#groupP").is(':checked')},
                url: '/jefeprod/table_producciones_progreso',
                success: function(data){
                    $(".main-page").html(data);
                }
            });
        }
    }



    $('.fill-item-abast').hover(function() {
        $(this).css('cursor','pointer');
        $('.fill-item-abast').removeClass("o-selection-focus");
        $(this).addClass("o-selection-focus");
        $(".o_searchview_autocomplete").data('item', $(this).data('searchcol'));
    });

    function despInput(event){
        var char = event.which || event.keyCode;
        var item = $(".o_searchview_autocomplete").data('item');
        //BORRAR LABEL
        if(char == 8 && ($("#buscar_produccion").val()==null || $("#buscar_produccion").val()=='' || $("#buscar_produccion").val()==undefined ) &&  parseInt($(".etiqueta-filtro-div").data('cant')) > 0 ){
            var labels = parseInt($(".etiqueta-filtro-div").data('cant'))-1;
            eliminarEtiqueta($("#label"+labels).children('div'));
        }
        //ENTER
        else if(char == 13){
            $(".fill-item-abast.o-selection-focus").click();
        }
        //ARRIBA
        else if(char == 38){
            item = parseInt(item) - 1;
        }
        //ABAJO
        else if(char == 40){
            item = parseInt(item) + 1;
        }


        //SI SOBREPASA EL LIMITE INFERIOR
        if(parseInt(item) >= 3){
            $(".o_searchview_autocomplete").data('item', "0");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item0").addClass("o-selection-focus");
        }
        //SI SOBREPASA EL LIMITE SUPERIOR
        else if(parseInt(item) < 0){
            $(".o_searchview_autocomplete").data('item', "2");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item2").addClass("o-selection-focus");
        }
        else{
            $(".o_searchview_autocomplete").data('item', item);
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item"+item).addClass("o-selection-focus");
        }

    }

    $(".fill-item-abast").on('click', function(e){
        e.preventDefault();
        var clase = array_fill[parseInt($(this).data('searchcol'))].split('@');
        var labels = parseInt($(".etiqueta-filtro-div").data('cant'));
        $(".etiqueta-filtro-div").append(
            "<label id='label"+labels+"' data-valor='"+$(this).data('searchcol')+"@"+$("#buscar_produccion").val()+"' class='etiqueta-filtro label label-"+clase[1]+"'>"+clase[0]+": <strong>"
            +$("#buscar_produccion").val()+
            "</strong> <div onclick='eliminarEtiqueta(this)' class='fa fa-sm fa-remove etiqueta-filtro-del'></div></label>"
        );
        $(".etiqueta-filtro-div").data('cant', labels+1);
        if($("#buscar_produccion-value").val() == '' || $("#buscar_produccion-value").val() == null || $("#buscar_produccion-value").val() == undefined){
            $("#buscar_produccion-value").val($(this).data('searchcol')+"@"+$("#buscar_produccion").val());
        }
        else{
            $("#buscar_produccion-value").val([$("#buscar_produccion-value").val(),$(this).data('searchcol')+"@"+$("#buscar_produccion").val()].join(','));
        }
        filtros_seleccionados.push($(this).data('searchcol')+"@"+$("#buscar_produccion").val());
        $(".o_searchview_autocomplete").css('display', 'none');
        $(".o_searchview_autocomplete strong").html('');
        $("#buscar_produccion").val('');
        $("#buscar_produccion").focus();
        reSearch();
    });
    function eliminarEtiqueta(yo){
        filtros_seleccionados.splice(filtros_seleccionados.indexOf($(yo).parent().data('valor')),1);
        $(yo).parent().remove();
        $(".etiqueta-filtro").removeAttr('id');
        var count = 0;
        $(".etiqueta-filtro").each(function(){
            $(this).attr("id","label"+count);
            count++;
        });
        $(".etiqueta-filtro-div").data('cant', $(".etiqueta-filtro-div").data('cant')-1);
        reSearch();
    }

    $("#buscar_produccion").on('keyup', function(e){
        e.preventDefault();
        if($(this).val() == '' || $(this).val() == null || $(this).val()==undefined ){
            $(".o_searchview_autocomplete").css('display', 'none');
            $(".o_searchview_autocomplete strong").html('');
        }
        else{
            $(".o_searchview_autocomplete").css('display', 'block');
            $(".o_searchview_autocomplete strong").html($(this).val());
        }
    });


</script>