


        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8"/>
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

                <title>Odoo</title>
                <link type="image/x-icon" rel="shortcut icon" href="/web/static/src/img/favicon.ico"/>
                <script type="text/javascript">
                    var odoo = {
                        csrf_token: "dd16b4c04108c59922141e8a2de270a6285ace52o",
                    };
                </script>

                
                <script type="text/javascript">
                    odoo.session_info = {"session_id": "6b0c804234641f4ce28a57943b51c6a340afc327", "uid": 1, "is_system": true, "is_superuser": true, "user_context": {"lang": "es_CL", "tz": "Europe/Brussels", "uid": 1}, "db": "Daniel", "server_version": "11.0-20180928", "server_version_info": [11, 0, 0, "final", 0, ""], "name": "Administrator", "username": "daguila.gallardo@gmail.com", "company_id": 1, "partner_id": 3, "user_companies": false, "currencies": {"46": {"symbol": "$", "position": "after", "digits": [69, 2]}, "1": {"symbol": "\u20ac", "position": "after", "digits": [69, 2]}, "3": {"symbol": "$", "position": "before", "digits": [69, 2]}}, "web.base.url": "http://localhost:8069", "max_time_between_keys_in_ms": 55, "web_tours": []};
                </script>


                <link type="text/css" rel="stylesheet" href="/assets/css/web.assets_common.0.css"/>
                <link type="text/css" rel="stylesheet" href="/assets/css/web.assets_backend.0.css"/>
                <link type="text/css" rel="stylesheet" href="/assets/css/web.assets_backend.1.css"/>
                <link type="text/css" rel="stylesheet" href="/assets/css/web_editor.summernote.0.css"/>
                <link type="text/css" rel="stylesheet" href="/assets/css/web_editor.assets_editor.0.css"/>
                <script type="text/javascript" src="/assets/css/web.assets_common.js"></script>
                <script type="text/javascript" src="/assets/css/web.assets_backend.js"></script>
                <script type="text/javascript" src="/assets/css/web_editor.summernote.js"></script>
                <script type="text/javascript" src="/assets/css/web_editor.assets_editor.js"></script>

                
                
    

                
                    <!--[if lt IE 10]>
                        <body class="ie9">
                    <![endif]-->
                

                <script type="text/javascript">
                    
                </script>
            
            </head>
            <nav id="oe_main_menu_navbar" class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
        
                <div class="navbar-collapse collapse">
                                
                    <ul class="nav navbar-nav navbar-left oe_application_menu_placeholder" style="display: none;">
                    
                        <li>
                                
                        
                            <a href="/web#menu_id=81&amp;action=96" class="oe_menu_leaf" data-menu="81" data-menu-xmlid="mail.mail_channel_menu_root_chat" data-action-model="ir.actions.client" data-action-id="96">
                            <span class="oe_menu_text">
                                Debates
                            </span>
                            </a>
                
                        <li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=266&amp;action=369" class="oe_menu_leaf" data-menu="266" data-menu-xmlid="calendar.mail_menu_calendar" data-action-model="ir.actions.act_window" data-action-id="369">
                            <span class="oe_menu_text">
                                Calendario
                            </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=248&amp;action=" class="oe_menu_toggler" data-menu="248" data-menu-xmlid="contacts.menu_contacts">
                        <span class="oe_menu_text">
                            Contactos
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=270&amp;action=389" class="oe_menu_toggler" data-menu="270" data-menu-xmlid="crm.crm_menu_root" data-action-model="ir.actions.server" data-action-id="389">
                            <span class="oe_menu_text">
                                CRM
                            </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=215&amp;action=" class="oe_menu_toggler" data-menu="215" data-menu-xmlid="sale.sale_menu_root">
                        <span class="oe_menu_text">
                            Ventas
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=87&amp;action=" class="oe_menu_toggler" data-menu="87" data-menu-xmlid="stock.menu_stock_root">
                        <span class="oe_menu_text">
                            Inventario
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=122&amp;action=" class="oe_menu_toggler" data-menu="122" data-menu-xmlid="mrp.menu_mrp_root">
                        <span class="oe_menu_text">
                            Fabricación
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=148&amp;action=" class="oe_menu_toggler" data-menu="148" data-menu-xmlid="account.menu_finance">
                        <span class="oe_menu_text">
                            Facturando
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=5&amp;action=" class="oe_menu_toggler" data-menu="5" data-menu-xmlid="base.menu_management">
                        <span class="oe_menu_text">
                            Aplicaciones
                        </span>
                        </a>
                
                        </li>
                    
                        <li>
                                
                    
                        <a href="/web#menu_id=4&amp;action=" class="oe_menu_toggler" data-menu="4" data-menu-xmlid="base.menu_administration">
                        <span class="oe_menu_text">
                            Ajustes
                        </span>
                        </a>
                
                        </li>
                   
                        <li id="menu_more_container" class="dropdown" style="display: none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Más<b class="caret"></b></a>
                            <ul id="menu_more" class="dropdown-menu"></ul>
                        </li>
                    
                    </ul>

                    <ul class="nav navbar-nav navbar-right oe_user_menu_placeholder" style="display: none;"></ul>
                    <ul class="nav navbar-nav navbar-right oe_systray" style="display: none;"></ul>
                
                </div>
        </nav>
    </head>
        <body class="o_web_client">

    </body>
</html>    