<h1 class="page-header" style="margin: 0; padding-top: 5%">Listado de clientes:</h1>

	

<div class="row" style="margin: 1%">
	<form id="form-prov">
		<div class="col-md-offset-3 col-md-6 input-group" style="margin-bottom: 10px;display: flex;">
	    	<input style="width: 80%" id="prov-detail" type="text" class="form-control" placeholder="Buscar cliente" tabindex="1">
	    	<button style="width: 10%" type="submit" class="input-group-addon btn" tabindex="2"><i class="glyphicon glyphicon-search"></i></button>
	    	<button style="width: 10%" type="button" class="btn input-group-addon" tabindex="3" onclick="render_all_clientes()"><i class="glyphicon glyphicon-refresh"></i></button>
	  	</div>
  	</form>
	    <nav aria-label="Page navigation">
	        <ul class="pagination" id="paginationup">
	        </ul>
	    </nav>
  	<div class="pagina">
  		
  	</div>
  	<nav aria-label="Page navigation">
	        <ul class="pagination" id="paginationdown">
	        </ul>
	    </nav>
</div>
<style type="text/css">
	.caption a:hover{
		cursor:pointer;
	}
</style>

<script type="text/javascript">
	



	$("#form-prov").on('submit',function(e){
		e.preventDefault();
		var info = $("#prov-detail").val();
		if(info != ''){
			$.ajax({
				type: 'GET',
				url: '/abastecimiento/search_proveedor/'+info,
				success: function(data){
					$(".pagina").html(data);
				}
			});
		}
		else{
			render_all_clientes();
		}
	});

	function render_all_clientes(){
		$.ajax({
			type: 'GET',
			url: '/abastecimiento/pag_proveedores/1',
			success: function(data){
				$(".pagina").html(data);
				$("#cl-detail").val('');
			}
		});
	}


	$(function(){
        window.pagObj = $('.pagination').twbsPagination({
            totalPages: <%=Math.ceil(largo/15)%>,
            visiblePages: 5,
            first:"Primero",
            prev: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true">&raquo;</span>',
            last: "Ultimo",
            loop: true,
            onPageClick: function (event, page) {
                $.ajax({
                	type:'GET', 
                	url: '/abastecimiento/pag_proveedores/'+page,
                	success: function(data){
                		$(".pagina").html(data);
                	}
                });
            }
        }).on('page', function (event, page) {
            console.info(page + ' (from event listening)');
        });
    });



</script>