<%function textFormat(string){
    string = string.split(' ');
    for(var a=0; a < string.length; a++){
        string[a] = string[a].substring(0,1).toUpperCase() + string[a].substring(1,string[a].length).toLowerCase();
	}
	return string.join(' ');
}%>
<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
</style>

<!--<div style="position: absolute; top: 0px; right: 10px; z-index: 50" class="abrir-buscador">
	<button class="btn btn-xs btn-circle btn-lg" onclick="mostrar_buscador()"><i class="fa fa-angle-down"></i></button>
</div>-->
<%if(username == 'abastecimiento'){%>
	<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 90%;transition:0.5s; ;z-index: 9;">
<%}else{%>
	<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%;transition:0.5s; ;z-index: 9;">
<%}%>
	<div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
		<ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
			<li class="active">Orden de Compra</li>
			<!-- Mostrar cantidad de datos -->
			<div id="indicador_paginas" data-total="0" style="margin-top: 8px"></div>
		</ol>

		<div style="width: 50%;">
			<div class="form-group o_searchview" style="margin: 0;padding: 0;">

			</div>
			<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
				<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="getcsvoda" data-tipo="oda"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
				</ul>
			</div>
			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
				<!--<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_abastecimientos/abastecimiento.idabast-DESC/1' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
		        <button type="button" accesskey="k" aria-label="kanban" data-view-type="kanban" title="" data-view='item_abs' class="btn btn-icon fa fa-lg fa-th-large view-option" data-original-title="Kanban"></button>
	    	    <button type="button" aria-label="calendar" data-view-type="calendar" title="" data-view='/calendar_abs' class="btn btn-icon fa fa-lg fa-calendar view-option" data-original-title="Calendario"></button>-->
	    		<div class="search-option-list" style="display: flex;">
	    			<label style="margin-left: 30px; margin-top: 6px">Mostrar Todos</label>
					<input type="checkbox" id="pend" style="margin-left: 5px; margin-top: 6px; width: 20px; height: 20px">
					<h5 style="margin-left: 10px" class="indicator-of-check"><small>Mostrando solo pedidos sin facturar</small></h5>
				</div>

				<div class="abast-fill"></div>
	        </div>

			<!--<div style="position: absolute; bottom: 10px; right: 10px">
				<button class="btn btn-xs btn-circle btn-lg" onclick="ocultar_buscador()"><i class="fa fa-angle-up"></i></button>
			</div>-->

		</div>
	</div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%; transition: 0.5s">
	<div id="fw-body"  style="padding:0;margin: 0;">
		<div class="content main-page">
		</div>
	</div>
</div>

<style>
	.ch_page:hover{
		cursor:pointer;
		color: black;
		font-size: 15px;
	}
</style>


<script type="text/javascript">

    var alto_buscador = $(".up-fills").height();
    var margen_tabla = $('#fw-container').css('margin-top');

	function mostrar_buscador(){
        $('.up-fills').css('top', alto_buscador);
        $('.up-fills').css('height', alto_buscador);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        $('.up-fills').removeClass('hidden');
        busc.buscar_action(true);
	}
    function restaurar_buscador(){
        $('.up-fills').css('top', alto_buscador);
        $('.up-fills').css('height', alto_buscador);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        busc.buscar_action(true);
        $('.up-fills').css('transition', '0.5s');
    }
	function ocultar_buscador(){
        $('.up-fills').css('z-index', '0');
        $('.up-fills').css('top', '-'+$('.up-fills').height()+'px');
        $('#fw-container').css('margin-top', '0px');
        $('#fw-container').css('padding-top', '30px');
        $("#pageView").val('1');
        //busc.buscar_action();
    }
    function volver_tabla(){
        $('.up-fills').css('z-index', '9');
        $('.up-fills').css('top', alto_buscador);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        $('#fw-container').css('padding-top', '0px');
        $('.up-fills').removeClass('hidden');
        busc.buscar_action(true);
        $("#pageView").val('0');
    }





	var cc_fill = [];
	var array_fill = [
        "OC@default",
        "Factura@primary",
        "GD@success",
        "Proveedor@info",
        "Detalle@warning",
		"CC@danger"
	];

    var busc = new Buscador("buscar_abastecimiento", ".o_searchview", array_fill, "/abastecimiento/table_abastecimientos", "dataTableOdoo", true, false);

    busc.add_cond = "abastecimiento.cantidad>abastecimiento.facturados AND !abastecimiento.anulado";

    $("#pend").on('change', function (e) {
        e.preventDefault();
        if($(this).is(":checked")){
            busc.add_cond = "!abastecimiento.anulado";
        }else{
            busc.add_cond = "abastecimiento.cantidad>abastecimiento.facturados AND !abastecimiento.anulado";
        }
        busc.buscar_action();
    });


    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
    });

	function saveinSession(option){
		if(cc_fill.indexOf($(option).val()) == -1 ){
            alert( $(option).val() );
		}
	}

    $(document).on('click', '.fill_cc .dropdown-menu', function (e) {
        e.stopPropagation();
    });



	$('.view-option').on('click', function(e){
		e.preventDefault();

		$('.view-option').removeClass('active');
		$(this).addClass('active');
		if($(this).data('original-title') == 'Lista'){
			// Muestra el nav de paginacion
			$("#paginacion").css('display','block');
            $(".search-option-list").css('display', 'flex');
            busc.buscar_action();
		}
		else{
			// Quita el nav de paginacion
			$("#paginacion").css('display','none');
            $.ajax({
                type: 'POST',
                url: '/abastecimiento/'+$(this).data('view')+"/"+$("#pend").is(':checked'),
                beforeSend: function(){
                    destroyDataTable();
                },
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de pedidos
					$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                }
            });
            $(".search-option-list").css('display', 'none');
		}


	});

	function fill_oda_cc(yo){
        $('.dropdown.open .dropdown_btn_ccfill').dropdown('toggle');
        buscar_oda(false);
    }

    function change_mulselected(yo){
	    var beforeCheck = $(yo).data('allbeforecheck');
	    if($("#all_option_cc").is(':selected') && !beforeCheck){
	        $(yo).data('allbeforecheck', 1);
            $(".option_multiple_select").prop("selected", true);
		}
		else if(!$("#all_option_cc").is(':selected')){
            $(yo).data('allbeforecheck', 0);
		}
	}
    $(".order-column").on('click', function(e){
        e.preventDefault();
        var item = this;
        var orden = $(this).data('order');
        var showPend = $("#pend").is(':checked');
        $.ajax({
            type: 'POST',
            data: {
                clave: filtros_seleccionados.join(','),
                orden: $(this).data('order'),
                showPend: $("#pend").is(':checked')
            },
            url: '/abastecimiento/table_abastecimientos/'+ global_page,
            success: function(data){
                $(".main-page").html(data);
            }
        });
    });

    // Muestra la tabla antes de ver una OC
    function mostrar_tabla(){
        if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
        	if($("#buscar_abastecimiento").val() == "" || $("#buscar_abastecimiento").val() == null) {
        		$.ajax({
					type: 'POST',
		            data: {
		                clave: filtros_seleccionados.join(','),
		                orden: $(".o_cp_switch_buttons .active").data('view'),
		                showPend: $("#pend").is(':checked')
		                //cc_selected: $(".select_cc").val().join(',')
		            },
					url: '/abastecimiento/table_abastecimientos/1',
					success: function(data){
						$(".main-page").html(data);
						//Muestra la cantidad de pedidos
						$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
					}
				});
				$(".row-main").css('padding-top', $(".o_control_panel").css('height') );
        	}
        	else{
        		$.ajax({
	                type: 'POST',
	                data: {
	                    clave: filtros_seleccionados.join(','),
	                    orden: $(".o_cp_switch_buttons .active").data('view'),
	                    showPend: $("#pend").is(':checked')
	                    //cc_selected: $(".select_cc").val().join(',')
	                },
	                url: '/abastecimiento/table_abastecimientos/1',
	                success: function(data){
	                    $(".main-page").html(data);
	                    //Muestra la cantidad de pedidos
						$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
	                }
	            });
        	}
        }
        else {
			$("#paginacion").css('display','none');
            $.ajax({
                type: 'GET',
                url: '/abastecimiento/item_abs/'+$("#pend").is(':checked'),
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de pedidos
					$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                }
            });
            $(".search-option-list").css('display', 'none');
        }
    };


	$("#pend").on('change', function(e){
		e.preventDefault();
		if($(".indicator-of-check").css('display') == 'block'){
            $(".indicator-of-check").css('display', 'none');
		}
		else{
            $(".indicator-of-check").css('display', 'block');
		}
	});


    $(".getcsvoda").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/abastecimiento/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });

</script>
<script src="/buscador_funciones.js"></script>