<style>
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
    .etiqueta-filtro-cha:hover{
        cursor: pointer;
    }
</style>
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
            <li class="active">Pedido Sin Despachar</li>
            <!-- Mostrar cantidad de datos -->
            <div class="indicador_paginas" id="pedidos" style="margin-top: 8px"></div>
        </ol>
        <div style="width: 50%; margin-right: 4%">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">

            </div>

            <div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
                <button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="getcsvof" data-tipo="of"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
                </ul>
            </div>
            <!--<input type="text" id="buscar_planta" name="" class="form-control pull-right" placeholder="Buscar...">-->

            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px;">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_planta/fabricaciones.f_entrega-ASC' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
                <div style="display: flex;">
                    <div class="filters" style="margin-right: 40px; margin-left: 10px"></div>
                    <div style="display: flex">
                        <label for="select-estado" style="width: 100%; margin-top: 8px">Estado de Pedido: </label>
                        <select class="form-control" id="select-estado" name="select-estado">
                            <option value="coalesce(pedido.cantidad - pedido.despachados,0)>0@DATEDIFF(pedido.f_entrega,now())<0">Atrasado</option>
                            <option value="coalesce(pedido.cantidad - pedido.despachados,0)>0@DATEDIFF(pedido.f_entrega,now())>=0 and DATEDIFF(pedido.f_entrega,now())<=10">Pronta Entrega</option>
                            <option value="coalesce(pedido.cantidad - pedido.despachados,0)>0@DATEDIFF(pedido.f_entrega,now())>10">Mas de 10 días</option>
                            <option value="coalesce(pedido.cantidad - pedido.despachados,0)>0" selected>Pendientes</option>
                            <option value="coalesce(pedido.cantidad - pedido.despachados,0)=0">Despachados</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<script type="text/javascript">
    var array_fill = [
        "OF@default",
        "Item@primary",
        "Detalle@success",
        "Cliente@success"
    ];


    var busc = new Buscador("buscar_planta", ".o_searchview", array_fill, "/jefeplanta/table_planta", "DataTableFabs", false, true, ".filters","pedido.f_entrega");

    busc.add_cond = "coalesce(pedido.cantidad - pedido.despachados,0)>0";
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
    });


    $("#select-estado").on('change', function(e){
        e.preventDefault();
        busc.add_cond = $(this).val();
        if($(this).val() === "coalesce(pedido.cantidad - pedido.despachados,0)=0"){
            busc.ispage = true;
        }
        else{
            busc.ispage = false;
        }
        busc.buscar_action();
    });

    $('.view-option').on('click', function(e){
        e.preventDefault();
        $('.view-option').removeClass('active');
        if($(this).data('original-title') == 'Lista'){
            $("#check_pendientes").css('display', 'inline');
        }
        else{
            $("#check_pendientes").css('display', 'none');
        }
        $(this).addClass('active');
        
        
        
        if($(this).data('view') == 'table_planta/fabricaciones.f_entrega-ASC'){
            this.url = "/jefeplanta/table_planta";
            busc.buscar_action();
        }
        else{
            busc.url = "/jefeplanta/"+$(this).data('view')+"/"+$("#pend").is(':checked');
            busc.buscar_action();
        }


    });




    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/jefeplanta/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });
    function getRidOffAutocomplete(){
        var timer = window.setTimeout( function(){
            $('#buscar_planta-value, #buscar_planta').prop('disabled',false);
            clearTimeout(timer);
        }, 800);
    }

    // Invoke the function
    getRidOffAutocomplete();

</script>
<script src="/buscador_funciones.js"></script>