<div class="row" style=" margin: 0 ;padding-top: 3%; padding-bottom: 2%; margin-right: 2%;margin-left: 2%;background-color: white; height: 100%">
<h1 class="page-header" style="margin: 0; padding-top: 5%">Malla de clientes:</h1>

	

<div class="row">
		<form id="form-cliente">
			<div class="col-md-offset-3 col-md-6 input-group" style="margin-bottom: 10px;margin-top: 10px;display: flex;">
		    	<input style="width: 80%" id="cl-detail" type="text" class="form-control" placeholder="Buscar cliente" tabindex="1">
		    	<button style="width: 10%" type="submit" class="input-group-addon btn" tabindex="2"><i class="glyphicon glyphicon-search"></i></button>
		    	<button style="width: 10%" type="button" class="btn input-group-addon" tabindex="3" onclick="render_all_clientes()"><i class="glyphicon glyphicon-refresh"></i></button>
		  	</div>
	  	</form>
	  	<!-- Paginacion -->
	  	<div style="margin-left: 33.8%">
	  		<nav aria-label="Page navigation">
		        <ul class="pagination" id="paginationup">
		        </ul>
		    </nav>
	  	</div>

	  	<button style="position: fixed; z-index: 5; bottom: 50px;right: 50px;box-shadow: 7px 5px 10px #888888;" class="btn btn-success btn-circle btn-lg" data-toggle="modal" data-target="#newCliente"><i class="glyphicon glyphicon-plus"></i></button>
	  	<div class="pagina">
	  		
	  	</div>
	  	<!-- Paginacion -->
	  	<div style="margin-left: 33.8%">
	  		<nav aria-label="Page navigation">
		        <ul class="pagination" id="paginationdown">
		        </ul>
		    </nav>
	  	</div>
	
</div>
<style type="text/css">
	.caption a:hover{
		cursor:pointer;
	}
</style>

<script type="text/javascript">

	$("#form-cliente").on('submit',function(e){
		e.preventDefault();
		var info = $("#cl-detail").val();
		if(info != ''){
			$.ajax({
				type: 'GET',
				url: '/plan/search_client/'+info,
				success: function(data){
					$(".pagina").html(data);
				}
			});
		}
		else{
			render_all_clientes();
		}
	});

	function render_all_clientes(){
		$.ajax({
			type: 'GET',
			url: '/plan/pag_clientes/1',
			success: function(data){
				$(".pagina").html(data);
				$("#cl-detail").val('');
			}
		});
	}

	// Paginacion
	$(function(){
        window.pagObj = $('.pagination').twbsPagination({
            totalPages: <%=Math.ceil(largo/15)%>,
            visiblePages: 5,
            first:"Primero",
            prev: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true">&raquo;</span>',
            last: "Ultimo",
            loop: true,
            onPageClick: function (event, page) {
                $.ajax({
                	type:'GET', 
                	url: '/plan/pag_clientes/'+page,
                	success: function(data){
                		$(".pagina").html(data);
                	}
                });
            }
        }).on('page', function (event, page) {
            console.info(page + ' (from event listening)');
        });
    });
</script>

</div>