<%
if(data.length){
    for(var i = 0; i< data.length;i++){
        %>
<div class="col-md-4 list-group factura" style="margin: 0; padding: 5px">
    <div class="dropdown" style="position: absolute; top: 15px; right: 15px; z-index: 10">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
         <li><a>Ver PDF</a></li>  
      </ul>
    </div>
  <a href="#" class="list-group-item factura-item">
    <h4 class="list-group-item-heading">OF #<%= data[i].numordenfabricacion%></h4>
    <small class="list-group-item-text"><b>OC:</b> <%= data[i].numoc%></small>
    <br>
    <small class="list-group-item-text">Creado el: <%= [new Date(data[i].creacion).toLocaleDateString().split('-')[2],new Date(data[i].creacion).toLocaleDateString().split('-')[1],new Date(data[i].creacion).toLocaleDateString().split('-')[0] ].join('/')%></small>
  </a>
</div>
    <%}%>
<%}else{%>
    <h1 style="text-align: center; margin-top: 10px"> No hay OF registradas</h1>
<%}%>
