<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
	.etiqueta-filtro-cha:hover{
		cursor: pointer;
	}
</style>
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%;transition:0.5s; z-index: 9;">
	<div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
		<ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
			<li class="active">Listado de Fabricaciones</li>
			<!-- Mostrar cantidad de datos -->
			<div class="indicador_paginas" style="margin-top: 8px"></div>
		    <!-- Mostrar cantidad de datos -->
			<div id="pedidos" style="margin-top: 8px"></div>
		</ol>
		<div style="width: 50%; margin-right: 4%">
			<div class="form-group o_searchview" style="margin: 0;padding: 0;">

			</div>

			<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
				<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="getcsvof" data-tipo="of"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
				</ul>
			</div>
			<!--<input type="text" id="buscar_fabricaciones" name="" class="form-control pull-right" placeholder="Buscar...">-->

			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px;">
				<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_fabricaciones/fabricaciones.f_entrega-ASC' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
				<div style="display: flex">
					<label style="margin-left: 30px; margin-top: 6px;">Mostrar Bloqueados</label>
					<input type="checkbox" id="fabsBloq" style="margin-left: 10px;margin-top: 6px; width: 20px; height: 20px" onchange="change_tipo_of()">
					<select class="form-control" id="fabsSel" style="width: 85px; margin-left: 40px; margin-right: 10px;" onchange="change_tipo_of()">
                        <option value="true">Todos</option>
                        <option value="pedido.idpedido IS NOT null">OF/OC</option>
                        <option value="pedido.idpedido is null">OF/ODV</option>
                    </select>

					<div class="filters"></div>
				</div>


			</div>
		</div>
	</div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
	<div id="fw-body"  style="padding:0;margin: 0;">
		<div class="content main-page">
		</div>
	</div>
</div>
<script type="text/javascript">

    var alto_buscador = $(".up-fills").height();
    var margen_tabla = $('#fw-container').css('margin-top');
    function mostrar_buscador(){
        $('.up-fills').css('top', alto_buscador);
        $('.up-fills').css('height', alto_buscador);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        $('.up-fills').removeClass('hidden');
        busc.buscar_action(true);
    }
    function restaurar_buscador(){
        $('.up-fills').css('top', alto_buscador);
        $('.up-fills').css('height', alto_buscador);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        busc.buscar_action(true);
        $('.up-fills').css('transition', '0.5s');
    }
    function ocultar_buscador(){
        $('.up-fills').css('z-index', '0');
        $('.up-fills').css('top', '-'+$('.up-fills').height()+'px');
        $('#fw-container').css('margin-top', '0px');
        $('#fw-container').css('padding-top', '30px');
        $("#pageView").val('1');
        //busc.buscar_action();
    }
    function volver_tabla(){
        $('.up-fills').css('z-index', '9');
        $('.up-fills').css('top', 0);
        $('#fw-container').css('margin-top', margen_tabla+'px');
        $('#fw-container').css('padding-top', '0px');
        $('.up-fills').removeClass('hidden');
        busc.buscar_action(true);
        $("#pageView").val('0');
    }
    function change_tipo_of(){

        if($("#fabsBloq").is(':checked')){
            busc.add_cond = "fabricaciones.restantes>0@!coalesce(pedido.externo,false)@"+$("#fabsSel").val();
        }
        else{
            busc.add_cond = "!fabricaciones.lock@fabricaciones.restantes>0@!coalesce(pedido.externo,false)@"+$("#fabsSel").val();
        }
		busc.buscar_action();
	}
    var array_fill = [
        "OF@default",
        "OC@primary",
        "Detalle@success",
        "Entrega@info",
        "Cliente@warning"
    ];
    var busc = new Buscador("buscar_fabricaciones", ".o_searchview", array_fill, "/plan/table_fabricaciones", "DataTableFabs", false, true, ".filters","fabricaciones.f_entrega");
    busc.add_cond = "!fabricaciones.lock@fabricaciones.restantes>0@!coalesce(pedido.externo,false)";

    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
		busc.buscar_action();
	});
	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		if($(this).data('original-title') == 'Lista'){
			$("#check_pendientes").css('display', 'inline');
		}
		else{
            $("#check_pendientes").css('display', 'none');
		}
		$(this).addClass('active');
		if($(this).data('view') == 'table_fabricaciones/fabricaciones.f_entrega-ASC'){
            busc.buscar_action();
		}
		else{
            $.ajax({
                type: 'GET',
                url: '/plan/'+$(this).data('view')+"/"+$("#pend").is(':checked'),
                success: function(data){
                    $(".main-page").html(data);
                    if($(this).data('view') == 'table_fabricaciones/fabricaciones.f_entrega-ASC' || $(this).data('view')=='item_ofs') {
                        //Muestra la cantidad de pedidos
                        $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                    }
                }
            });
		}


	});
    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/plan/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });
    function getRidOffAutocomplete(){
        var timer = window.setTimeout( function(){
            $('#buscar_fabricaciones-value, #buscar_fabricaciones').prop('disabled',false);
            clearTimeout(timer);
        }, 800);
    }
    // Invoke the function
    getRidOffAutocomplete();
</script>
<script src="/buscador_funciones.js"></script>