<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
</style>
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
	<div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
		<ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
			<li class="active">Listado de Pedidos</li>
			<!-- Mostrar cantidad de datos -->
			<div class="indicador_paginas" style="margin-top: 8px"></div>


		</ol>
		<div style="width: 50%;">
			<div class="form-group o_searchview" style="margin: 0;padding: 0;">

			</div>
			<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
				<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="getcsvof" data-tipo="of"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
				</ul>
			</div>
			<!--<input type="text" id="buscar_pedido" class="form-control pull-right" placeholder="Buscar...">-->
			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
				<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_pedidos/pedido.f_entrega-ASC/1' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
	    
		        <button type="button" accesskey="k" aria-label="kanban" data-view-type="kanban" title="" data-view='item_odcs' class="btn btn-icon fa fa-lg fa-th-large view-option" data-original-title="Kanban"></button>
	    
	    	    <!--<button type="button" aria-label="calendar" data-view-type="calendar" title="" data-view='/calendar_peds' class="btn btn-icon fa fa-lg fa-calendar view-option" data-original-title="Calendario"></button>-->
				<div style="display: flex">
					<label style="margin-left: 30px; margin-top: 6px;">Mostrar Todos</label>
					<input type="checkbox" id="pend_oc" style="margin-left: 10px;margin-top: 6px; width: 20px; height: 20px">
					<h5 style="margin-left: 10px" class="indicator-oc-check"><small>Mostrando solo pedido(s) sin despachar</small></h5>
					<!--<div style="display: flex; margin-left: 20px">
						<input type="number" onchange="changeSize(this)">
					</div>-->

					<div class="filters"></div>
				</div>
	       		<!--<button type="button" aria-label="pivot" data-view-type="pivot" title="" data-view='pivot' class="btn btn-icon fa fa-lg fa-table view-option" data-original-title="Pivote"></button>
	    	
	        	<button type="button" aria-label="graph" data-view-type="graph" title="" data-view='graph' class="btn btn-icon fa fa-lg fa-bar-chart view-option" 	data-original-title="Gráfico"></button>-->
	        </div>
	        <!-- Paginacion -->
		  	<!--<div id="paginacion" style="position: absolute; top: 28px; left: 17%">
		  		<nav aria-label="Page navigation">
			        <ul class="pagination pagination-sm" id="paginationup">
			        </ul>
			    </nav>
		  	</div>-->
		</div>
	</div>
</div>

<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
	<div id="fw-body"  style="padding:0;margin: 0;">
		<div class="content main-page">
		</div>
	</div>
</div>
<style type="text/css">
	.caption a:hover{
		cursor:pointer;
	}
</style>

<script type="text/javascript">
	function changeSize(yo){
	    alert($(yo).val());
	    $(".row_main").css('font-size', $(yo).val()+"px");
	}
    var array_fill = [
        "OC@primary",
        "OF@primary",
        "Detalle@success",
        "Cliente@info",
        "Estado@warning"
    ];

    var busc = new Buscador("buscar_pedido", ".o_searchview", array_fill, "/plan/table_pedidos", "DataTablePeds", false, true, ".filters","pedido.f_entrega");

    busc.add_cond = "pedido.cantidad>pedido.despachados";
    $("#pend_oc").on('change', function(e){
        e.preventDefault();
        $(".indicator-oc-check").toggleClass('hidden');
        if( $(this).prop('checked') ) {
            busc.ispage = true;
            busc.page = 1;
            busc.add_cond = "";
        }
        else{
            busc.ispage = false;
            busc.add_cond = "pedido.cantidad>pedido.despachados";
        }
        busc.buscar_action();
    });

    // Carga la tabla de pedidos
	$(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
		busc.buscar_action();
	});

	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		$(this).addClass('active');
		if($(this).data('view')=='item_odcs') {
			busc.url = '/plan/item_odcs';
			busc.buscar_action();
		}
		else if($(this).data('view') == 'table_pedidos/pedido.f_entrega-ASC/1') {
			// Muestra el nav de paginacion
            busc.url = '/plan/table_pedidos';
			busc.buscar_action();
		}

	});
	
	// Paginacion
	$(function(){
        window.pagObj = $('.pagination').twbsPagination({
            totalPages: <%=Math.ceil(largo/50)%>,
            visiblePages: 4,
            first:"Primero",
            prev: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true">&raquo;</span>',
            last: "Ultimo",
            loop: true,
            onPageClick: function (event, page) {
                $.ajax({
                	type:'GET', 
                	url: '/plan/table_pedidos/pedido.f_entrega-ASC/'+page,
                	success: function(data){
                		$(".main-page").html(data);
                	}
                });
            }
        }).on('page', function (event, page) {
            console.info(page + ' (from event listening)');
        });
    });





    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/plan/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });

</script>

<script src="/buscador_funciones.js"></script>