<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
</style>
<div class="row" style="margin: 0; padding: 0;">
	<div class="col-sm-12 o_control_panel" style="margin: 0; padding: 10px; display: flex; position: fixed; z-index: 10; width: 82.5%;">
		<ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
			<li class="active">Orden de Compra </li>
			<!-- Mostrar cantidad de datos -->
			<div id="pedidos" style="margin-top: 8px"></div>


		</ol>
		<div style="width: 50%;">
			<div class="form-group o_searchview" style="margin: 0;padding: 0;">
				<div class="form-control etiqueta-input" style="display:flex; vertical-align: center;">
					<div class="etiqueta-filtro-div" style="height: 100%;" data-cant="0">
					</div>
					<input id="buscar_pedido" style="border: none" placeholder="Buscar…" type="text" onkeydown="despInput(event)">
					<input id="buscar_pedido-value" style="display: none" type="text">
				</div>
				<ul class="dropdown-menu o_searchview_autocomplete" data-item="0" role="menu" style="display: none;">
					<li data-searchcol="0" class="item0 fill-item-abast o-selection-focus"><a class="o-expand" href="#"></a><a href="#">Buscar <em>N° OC</em> para: <strong></strong></a></li>
					<li data-searchcol="1" class="item1 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>N° OF</em> para: <strong></strong></a></li>
					<li data-searchcol="2" class="item2 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Descripción</em> para: <strong></strong></a></li>
					<li data-searchcol="3" class="item3 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Cliente</em> para: <strong></strong></a></li>
					<li data-searchcol="4" class="item4 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Estado</em> para: <strong></strong></a></li>
				</ul>
			</div>
			<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
				<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="getcsvof" data-tipo="of"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
				</ul>
			</div>
			<!--<input type="text" id="buscar_pedido" class="form-control pull-right" placeholder="Buscar...">-->
			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
				<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_pedidos/pedido.f_entrega-ASC/1' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
	    
		        <button type="button" accesskey="k" aria-label="kanban" data-view-type="kanban" title="" data-view='item_odcs' class="btn btn-icon fa fa-lg fa-th-large view-option" data-original-title="Kanban"></button>
	    
	    	    <button type="button" aria-label="calendar" data-view-type="calendar" title="" data-view='/calendar_peds' class="btn btn-icon fa fa-lg fa-calendar view-option" data-original-title="Calendario"></button>
				<div style="display: flex">
					<label style="margin-left: 30px; margin-top: 6px;">Mostrar Todos</label>
					<input type="checkbox" id="pend_oc" style="margin-left: 10px;margin-top: 6px; width: 20px; height: 20px" onchange="buscar_oc()">
					<h5 style="margin-left: 10px" class="indicator-oc-check"><small>Mostrando solo pedido(s) sin despachar</small></h5>
					<!--<div style="display: flex; margin-left: 20px">
						<input type="number" onchange="changeSize(this)">
					</div>-->
				</div>
	       		<!--<button type="button" aria-label="pivot" data-view-type="pivot" title="" data-view='pivot' class="btn btn-icon fa fa-lg fa-table view-option" data-original-title="Pivote"></button>
	    	
	        	<button type="button" aria-label="graph" data-view-type="graph" title="" data-view='graph' class="btn btn-icon fa fa-lg fa-bar-chart view-option" 	data-original-title="Gráfico"></button>-->
	        </div>
	        <!-- Paginacion -->
		  	<!--<div id="paginacion" style="position: absolute; top: 28px; left: 17%">
		  		<nav aria-label="Page navigation">
			        <ul class="pagination pagination-sm" id="paginationup">
			        </ul>
			    </nav>
		  	</div>-->
		</div>
	</div>
</div>
<div class="row row-main" style=" margin: 0; padding: 0;">
	<div class="col-sm-12 main-page" style="margin: 0; padding: 0; z-index: 5; top:-7px;"></div>
</div>

<style type="text/css">
	.caption a:hover{
		cursor:pointer;
	}
</style>

<script type="text/javascript">
	function changeSize(yo){
	    alert($(yo).val());
	    $(".row_main").css('font-size', $(yo).val()+"px");
	}
    var array_fill = [
        "OC@primary",
        "OF@primary",
        "Detalle@success",
        "Cliente@info",
        "Estado@warning"
    ];
    var filtros_seleccionados = [];
	// Carga la tabla de pedidos
	$(document).ready(function(){
		/*$.ajax({
            type: 'GET',
            url: '/plan/table_pedidos/pedido.f_entrega-ASC/1',
            beforeSend: function(){
                $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
            },
			success: function(data){
				$(".main-page").html(data);
				//Muestra la cantidad de pedidos
				$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
			}
		});*/
		buscar_oc();
		$(".row-main").css('padding-top', $(".o_control_panel").css('height') );
	});

	function buscar_oc(){
        $.ajax({
            type: 'POST',
            data: {clave: filtros_seleccionados.join(','), pendientes: $('#pend_oc').is(":checked")},
            url: '/plan/table_pedidos/pedido.idodc-DESC/1',
            beforeSend: function(){
                $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
            },
            success: function(data){
                $(".main-page").html(data);
                //Muestra la cantidad de pedidos
                $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
            }
        });
	}

    $('.fill-item-abast').hover(function() {
        $(this).css('cursor','pointer');
        $('.fill-item-abast').removeClass("o-selection-focus");
        $(this).addClass("o-selection-focus");
        $(".o_searchview_autocomplete").data('item', $(this).data('searchcol'));
    });

    function despInput(event){
        var char = event.which || event.keyCode;
        var item = $(".o_searchview_autocomplete").data('item');
        //BORRAR LABEL
        if(char == 8 && ($("#buscar_pedido").val()==null || $("#buscar_pedido").val()=='' || $("#buscar_pedido").val()==undefined ) &&  parseInt($(".etiqueta-filtro-div").data('cant')) > 0 ){
            var labels = parseInt($(".etiqueta-filtro-div").data('cant'))-1;
            eliminarEtiqueta($("#label"+labels).children('div'));
        }
        //ENTER
        else if(char == 13){
            $(".fill-item-abast.o-selection-focus").click();
        }
        //ARRIBA
        else if(char == 38){
            item = parseInt(item) - 1;
        }
        //ABAJO
        else if(char == 40){
            item = parseInt(item) + 1;
        }


        //SI SOBREPASA EL LIMITE INFERIOR
        if(parseInt(item) >= 5){
            $(".o_searchview_autocomplete").data('item', "0");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item0").addClass("o-selection-focus");
        }
        //SI SOBREPASA EL LIMITE SUPERIOR
        else if(parseInt(item) < 0){
            $(".o_searchview_autocomplete").data('item', "4");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item4").addClass("o-selection-focus");
        }
        else{
            $(".o_searchview_autocomplete").data('item', item);
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item"+item).addClass("o-selection-focus");
        }

    }

    $(".fill-item-abast").on('click', function(e){
        e.preventDefault();
        var clase = array_fill[parseInt($(this).data('searchcol'))].split('@');
        var labels = parseInt($(".etiqueta-filtro-div").data('cant'));
        $(".etiqueta-filtro-div").append(
            "<label id='label"+labels+"' data-toggle='tooltip' title='Buscando "+'"'+$("#buscar_pedidos").val()+'"'+" ' data-valor='"+$(this).data('searchcol')+"@"+$("#buscar_pedido").val()+"' class='etiqueta-filtro label label-primary'>"+clase[0]+": <strong>"
            +$("#buscar_pedido").val()+
            "</strong> <div data-state='off' onclick='cambiarEtiqueta(this)' class='fa fa-toggle-off etiqueta-filtro-cha'></div><div onclick='eliminarEtiqueta(this)' class='fa fa-sm fa-remove etiqueta-filtro-del'></div></label>"
        );
        $(".etiqueta-filtro-div").data('cant', labels+1);
        if($("#buscar_pedido-value").val() == '' || $("#buscar_pedido-value").val() == null || $("#buscar_pedido-value").val() == undefined){
            $("#buscar_pedido-value").val($(this).data('searchcol')+"@"+$("#buscar_pedido").val()+"@off");
        }
        else{
            $("#buscar_pedido-value").val([$("#buscar_pedido-value").val(),$(this).data('searchcol')+"@"+$("#buscar_pedido").val()].join(',')+"@off");
        }
        filtros_seleccionados.push($(this).data('searchcol')+"@"+$("#buscar_pedido").val()+"@off");
        $(".o_searchview_autocomplete").css('display', 'none');
        $(".o_searchview_autocomplete strong").html('');
        $("#buscar_pedido").val('');
        $("#buscar_pedido").focus();
        buscar_oc();
    });
    function eliminarEtiqueta(yo){
        filtros_seleccionados.splice(filtros_seleccionados.indexOf($(yo).parent().data('valor')),1);
        $(yo).parent().remove();
        $(".etiqueta-filtro").removeAttr('id');
        var count = 0;
        $(".etiqueta-filtro").each(function(){
            $(this).attr("id","label"+count);
            count++;
        });
        $(".etiqueta-filtro-div").data('cant', $(".etiqueta-filtro-div").data('cant')-1);
        buscar_oc();
    }


    function cambiarEtiqueta(yo){
        if($(yo).data('state') == 'off') {
            $(yo).parent().removeClass('label-primary');
            $(yo).parent().addClass('label-danger');
            $(yo).parent().data('valor', [$(yo).parent().data('valor').split('@')[0],$(yo).parent().data('valor').split('@')[1],'on'].join('@'));


            filtros_seleccionados[parseInt($(yo).parent().attr('id').substring(5,6))] = $(yo).parent().data('valor');

            $(yo).parent().attr('title', "Removiendo "+'"'+$(yo).parent().children('strong').text()+'"'+" de la busqueda");
            $(yo).removeClass('fa-toggle-off');
            $(yo).addClass('fa-toggle-on');
            $(yo).data('state', 'on');
        }
        else{
            $(yo).parent().removeClass('label-danger');
            $(yo).parent().addClass('label-primary');
            $(yo).parent().data('valor', [$(yo).parent().data('valor').split('@')[0],$(yo).parent().data('valor').split('@')[1],'off'].join('@'));

            filtros_seleccionados[parseInt($(yo).parent().attr('id').substring(5,6))] = $(yo).parent().data('valor');

            $(yo).parent().attr('title', "Buscando "+'"'+$(yo).parent().children('strong').text()+'"');

            $(yo).removeClass('fa-toggle-on');
            $(yo).addClass('fa-toggle-off');

            $(yo).data('state', 'off');
        }
        buscar_oc();
    }

    $("#buscar_pedido").on('keyup', function(e){
        e.preventDefault();
        if($(this).val() == '' || $(this).val() == null || $(this).val()==undefined ){
            $(".o_searchview_autocomplete").css('display', 'none');
            $(".o_searchview_autocomplete strong").html('');
        }
        else{
            $(".o_searchview_autocomplete").css('display', 'block');
            $(".o_searchview_autocomplete strong").html($(this).val());
        }
    });
    /*
	$("#buscar_pedido").on('keyup', function(e){
		e.preventDefault();
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: $(this).val(), orden: $(".o_cp_switch_buttons .active").data('view')},
				url: '/plan/buscar_pedido_list/1',
				success: function(data){
                    $(".page-item").each(function(){
                        if($(this).hasClass('first')){
                            $(this).click();
                        }
                    });
					$(".main-page").html(data);
					//Muestra la cantidad de pedidos
					$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
				}
			});
		}
		else{
			$.ajax({
				type: 'POST',
				data: {clave: $(this).val()},
				url: '/plan/buscar_odcs_item',
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de pedidos
					$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
				}
			});		
		}
	});
	*/
	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		$(this).addClass('active');
		if($(this).data('view')=='item_odcs') {
			// Quita el nav de paginacion
			$("#paginacion").css('display','none');
            $.ajax({
                type: 'GET',
                url: '/plan/'+$(this).data('view'),
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de pedidos
                    $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                }
            });
		}
		else if($(this).data('view') == 'table_pedidos/pedido.f_entrega-ASC/1') {
			// Muestra el nav de paginacion
			$("#paginacion").css('display','block');
			buscar_oc();
		}

	});
	
	// Paginacion
	$(function(){
        window.pagObj = $('.pagination').twbsPagination({
            totalPages: <%=Math.ceil(largo/50)%>,
            visiblePages: 4,
            first:"Primero",
            prev: '<span aria-hidden="true">&laquo;</span>',
            next: '<span aria-hidden="true">&raquo;</span>',
            last: "Ultimo",
            loop: true,
            onPageClick: function (event, page) {
                $.ajax({
                	type:'GET', 
                	url: '/plan/table_pedidos/pedido.f_entrega-ASC/'+page,
                	success: function(data){
                		$(".main-page").html(data);
                	}
                });
            }
        }).on('page', function (event, page) {
            console.info(page + ' (from event listening)');
        });
    });

    // Muestra la tabla antes de ver una OC
    function mostrar_tabla(){
        if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
        	if($("#buscar_pedido").val() == "" || $("#buscar_pedido").val() == null) {
        		$.ajax({
					type: 'GET',
					url: '/plan/table_pedidos/pedido.f_entrega-ASC/1',
					success: function(data){
						$(".main-page").html(data);
						//Muestra la cantidad de pedidos
						$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
					}
				});
				$(".row-main").css('padding-top', $(".o_control_panel").css('height') );
        	}
        	else{
        		$.ajax({
	                type: 'POST',
	                data: {clave: $("#buscar_pedido").val(), orden: "pedido.f_entrega-ASC"},
	                url: '/plan/buscar_pedido_list/1',
	                success: function(data){
	                    $(".main-page").html(data);
	                    //Muestra la cantidad de pedidos
	                    $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
	                }
	            });
        	}
        }
        else {
        	$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_pedido").val()},
				url: '/plan/buscar_odcs_item',
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de pedidos
					$("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
				}
			});
        }
    };



    $("#pend_oc").on('change', function(e){
        e.preventDefault();
        if($(".indicator-oc-check").css('display') == 'block'){
            $(".indicator-oc-check").css('display', 'none');
        }
        else{
            $(".indicator-oc-check").css('display', 'block');
        }
    });

    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/plan/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });

</script>