<style>
    .vista-pill:hover{
        cursor:pointer;
    }
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
    .busc-din-menu{
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        transition:0.5s;
        z-index: 9;
    }
    .busc-menu{
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        transition:0.5s;
        z-index: 9;
    }
</style>

<%
var clase;
if(username === 'calidad'){clase='busc-din-menu';}
else{clase='busc-menu';}%>
<div id="up-fills" class="row up-fills <%=clase%>">
    <div class="col-md-12 col-sm-12 col-xs-12 o_control_panel row" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="col-md-6 col-sm-12 col-12 breadcrumb" style="padding: 10px 2px 0px 20px">
            <li class="active">Informe de Rechazos</li>
        </ol>
        <!--Buscador-->
        <div class="col-xs-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 form-group o_searchview" style="margin: 0;padding: 0;">
        </div>
        <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-top: 5px; display: flex">
                <div class="date-fill" style="display: flex;">

                </div>
                <div>
                    <label style="white-space: nowrap; display: flex; margin-left: 20px">
                        <div style="margin-top: 8px;">Agrupar según : </div>
                        <select class="form-control selectGroupOption" onchange="busc.extraInfo = [$(this).val()]; busc.buscar_action();">
                            <option value="no-group" selected>No Agrupar</option>
                            <option value="desc">Descripción</option>
                            <option value="colada">Colada</option>
                            <option value="causal">Causal</option>

                        </select>
                    </label>
                </div>
        </div>
        <style>
                .input-xs {
                    height: 22px;
                    padding: 2px 5px;
                    font-size: 12px;
                    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
                    border-radius: 3px;
                }
        </style>
        <div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
                <button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="getcsvof" data-tipo="opdetalle"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel Detalle</a></li>
                    <li><a href="#" class="getcsvof" data-tipo="op"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
                    <li class="divider"></li>
                    <li style="display: flex"><a href="#" class="getcsvof" data-tipo="op" style="display: flex">
                            <label for="">Tamaño de Fuente:
                                <div class="input-group"><input type="number" class="form-control ch-font-size input-xs">
                                    <span class="input-group-addon btn btn-default input-xs" onclick="DataTableFontSize();">Cambiar</span>
                                </div>
                            </label>
                        </a>
                    </li>
                </ul>
        </div>
        <script>
                function DataTableFontSize(){

                    $('.dataTable thead').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    $('.dataTable tfoot').css('font-size', $('.ch-font-size').val().toString()+'px' );


                    $('#rechTable thead').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    $('#rechTable tbody').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    $('#rechTable tfoot').css('font-size', $('.ch-font-size').val().toString()+'px' );

                    //$('#rechTable').css('width', '100%' );
                    $('.fixedHeader-floating thead').css('font-size',  $('.ch-font-size').val().toString()+'px');
                    $('.fixedHeader-floating tfoot').css('font-size',  $('.ch-font-size').val().toString()+'px');
                    $('.fixedHeader-floating thead').css('width',  $('#rechTable').css('width').toString()+'px');
                    $('.fixedHeader-floating tfoot').css('width',  $('#rechTable').css('width').toString()+'px');
                    //$('.fixedHeader-floating thead').css('width', '100%' );
                    //$('.fixedHeader-floating tfoot').css('width', '100%' );
                    if($('.ch-font-size').val() <= 6){
                        $('.dataTable thead').find('th').css('padding', '2px' );
                        $('.dataTable tfoot').find('td').css('padding', '2px' );


                        $('#rechTable thead').find('th').css('padding', '2px' );
                        $('#rechTable tbody').find('td').css('padding', '2px' );
                        $('#rechTable tfoot').find('td').css('padding', '2px' );

                        //$('#rechTable').css('width', '100%' );
                        $('.fixedHeader-floating thead').find('th').css('padding',  '2px');
                        $('.fixedHeader-floating tfoot').find('td').css('padding',  '2px');
                        $('.fixedHeader-floating thead').find('th').css('padding',  '2px');
                        $('.fixedHeader-floating tfoot').find('td').css('padding',  '2px');
                    }else{
                        $('.dataTable thead').find('th').css('padding', '' );
                        $('.dataTable tfoot').find('td').css('padding', '' );


                        $('#rechTable thead').find('th').css('padding', '' );
                        $('#rechTable tbody').find('td').css('padding', '' );
                        $('#rechTable tfoot').find('td').css('padding', '' );

                        //$('#rechTable').css('width', '100%' );
                        $('.fixedHeader-floating thead').find('th').css('padding',  '');
                        $('.fixedHeader-floating tfoot').find('td').css('padding',  '');
                        $('.fixedHeader-floating thead').find('th').css('padding',  '');
                        $('.fixedHeader-floating tfoot').find('td').css('padding',  '');
                    }
                }
        </script>
        <div style="width: 100%"><button class="btn btn-xs btn-primary pull-right" onclick="hiddenUpMenu()"><i class="fa fa-angle-up"></i></button></div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page" style="height: 100%; overflow-x: scroll"  >
        </div>
    </div>
</div>

<style type="text/css">
    .caption a:hover{
        cursor:pointer;
    }
</style>

<script type="text/javascript">


    var array_fill = [
        "Descripción@primary",
        "Colada@success",
        "Producto@info",
        "Cliente@info",
    ];
    var busc = new Buscador("buscar_rechazo", ".o_searchview", array_fill, "/calidad/table_rechazos", "rechTable", false, true, '.date-fill', 'produccion_history.fecha');

    busc.add_cond = "";
    busc.extraInfo = [$(".selectGroupOption").val()];
    // Carga la tabla de pedidos
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
        if(verificarPantalla() <= 4){
            close_menu();
        }

    });

    function hiddenUpMenu(){
        $(".up-fills").css('top', (parseInt($(".up-fills").css('height'))*-1) + 2 );
        $("#fw-container").css('margin-top', $("#oe_main_menu_navbar").height() + 2 ) ;
        //$("#rechTable").fixedHeader.headerOffset( $("#oe_main_menu_navbar").height() );

        $("#search-button-display").css('bottom', '10px');



        p = $("#rechTable").first();
        position = p.position();
        $(".float-header").css('top', position.top+'px');
    }

    function showUpMenu(){
        $(".up-fills").css('top', '0' );
        $("#fw-container").css('margin-top', $(".up-fills").height() + $("#oe_main_menu_navbar").height() ) ;
        //$("#rechTable").fixedHeader.headerOffset( $("#oe_main_menu_navbar").height() );


        $("#search-button-display").css('bottom', '-100px');



        p = $("#rechTable").first();
        position = p.position();
        $(".float-header").css('top', position.top+'px');
    }


</script>

<script src="/buscador_funciones.js"></script>

<button class="btn btn-primary" id="search-button-display" onclick="showUpMenu()" style="
position: fixed;
bottom: -100px;
transition: 1s;
right: 10px;
z-index:100;
-webkit-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);"><i class="fa fa-search fa-3x"></i></button>