<style>
    .vista-pill:hover{
        cursor:pointer;
    }
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
    .busc-din-menu{
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        transition:0.5s;
        z-index: 9;
    }
    .busc-menu{
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        transition:0.5s;
        z-index: 9;
    }
</style>

<%
var clase;
if(username === 'calidad'){clase='busc-din-menu';}
else{clase='busc-menu';}%>
<div id="up-fills" class="row up-fills <%=clase%>">
    <div class="col-md-12 col-sm-12 col-xs-12 o_control_panel row" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="col-md-6 col-sm-6 col-6 breadcrumb" style="padding: 10px 2px 0px 20px">
            <li class="active">Informe de Rechazos</li>
        </ol>
        <div class="col-md-6 col-sm-6 col-6">
            <!--Buscador-->
            <div class="form-group o_searchview" style="margin: 0;padding: 0; max-height: 30px"></div>
            <div style="width: 100%; display: flex; margin-top: 10px">
                <div class="date-fill" style="display: flex">

                </div>
                <div>
                    <label style="white-space: nowrap; display: flex; margin-left: 20px;">
                        <div style="margin-top: 8px;">Agrupar según : </div>
                        <select class="form-control selectGroupOption" onchange="busc.extraInfo = [$(this).val()]; busc.buscar_action();">
                            <option value="no-group" selected>No Agrupar</option>
                            <option value="desc">Descripción</option>
                            <option value="colada">Colada</option>
                            <option value="causal">Causal</option>

                        </select>
                    </label>
                </div>
                <div>
                    <label style="white-space: nowrap; display: flex; margin-left: 20px;" class="selectGroup">

                    </label>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-6"></div>

        <div class="col-md-6 col-sm-6 col-6">
            <div>
                <label style="white-space: nowrap; display: flex; margin-left: 20px; margin-bottom: 0px !important;" class="selectGroup">

                </label>
            </div>
        </div>

        <style>
                .input-xs {
                    height: 22px;
                    padding: 2px 5px;
                    font-size: 12px;
                    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
                    border-radius: 3px;
                }
        </style>
        <div class="dropdown pull-right" style="position: absolute; top: 8px; right: 1px">
                <button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="getcsvrech" data-tipo="rech"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
                    <li class="divider"></li>
                    <li style="display: flex"><a href="#" class="getcsvof" data-tipo="op" style="display: flex">
                            <label for="">Tamaño de Fuente:
                                <div class="input-group"><input type="number" class="form-control ch-font-size input-xs">
                                    <span class="input-group-addon btn btn-default input-xs" onclick="DataTableFontSize();">Cambiar</span>
                                </div>
                            </label>
                        </a>
                    </li>
                </ul>
        </div>
        <script>
                function DataTableFontSize(){
                    $('#rechTable thead').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    $('#rechTable tbody').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    $('#rechTable tfoot').css('font-size', $('.ch-font-size').val().toString()+'px' );
                    if($('.ch-font-size').val() <= 6){
                        $('#rechTable thead').find('th').css('padding', '2px' );
                        $('#rechTable tbody').find('td').css('padding', '2px' );
                        $('#rechTable tfoot').find('td').css('padding', '2px' );
                    }
                    else{
                        $('#rechTable thead').find('th').css('padding', '' );
                        $('#rechTable tbody').find('td').css('padding', '' );
                        $('#rechTable tfoot').find('td').css('padding', '' );
                    }

                    resetFixed('rechTable', 'main-page');
                }
        </script>
        <div style="width: 100%">
            <button class="btn btn-xs btn-primary pull-right" onclick="hiddenUpMenu()"><i class="fa fa-angle-up"></i></button>
        </div>
    </div>
</div>
<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page" style="height: 100%; overflow-x: scroll"  >
        </div>
    </div>
</div>

<style type="text/css">
    .caption a:hover{
        cursor:pointer;
    }
</style>

<script type="text/javascript">


    var array_fill = [
        "Descripción@primary",
        "Colada@success",
        "Producto@info"
    ];
    var busc = new Buscador("buscar_rechazo", ".o_searchview", array_fill, "/calidad/table_rechazos", "rechTable", false, true, '.date-fill', 'mainTable.fecha_rech');

    busc.add_cond = "";
    busc.extraInfo = [$(".selectGroupOption").val()];
    // Carga la tabla de pedidos
    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
        if(verificarPantalla() <= 4){
            close_menu();
        }

    });

    $(".getcsvrech").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/calidad/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });




</script>

<script src="/buscador_funciones.js"></script>

<button class="btn btn-primary" id="search-button-display" onclick="showUpMenu()" style="
position: fixed;
bottom: -100px;
transition: 1s;
right: 10px;
z-index:100;
-webkit-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);"><i class="fa fa-search fa-3x"></i></button>