<div class="col-sm-12"><table id="palet_list_table" class="o_list_view table table-condensed table-striped o_list_view_ungrouped dataTable dtr-inline" style="width: 100%; top: -7px;" role="grid">
        <thead>
        <tr role="row">
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody class="ui-sortable">
            <tr class="o_data_row" role="row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table></div>