<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
</style>
<div class="row" style="margin: 0; padding: 0;">
	<div class="col-sm-12 o_control_panel" style="margin: 0; padding: 10px; display: flex; position: fixed; z-index: 10; width: 82.5%;">
		<ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
			<li class="active">Guía de Despacho</li>

			<!-- Mostrar cantidad de datos -->
			<div id="despachos" style="margin-top: 8px"></div>
		</ol>
		<div style="width: 50%;">

			<div class="form-group o_searchview" style="margin: 0;padding: 0;">
				<div class="form-control etiqueta-input" style="display:flex; vertical-align: center">
					<div class="etiqueta-filtro-div" style="height: 100%;" data-cant="0">
					</div>
					<input id="buscar_despacho" style="border: none;" placeholder="Buscar…" type="text" onkeydown="despInput(event)" autocomplete="off">
					<input id="buscar_despacho-value" style="display: none" type="text">
				</div>
				<ul class="dropdown-menu o_searchview_autocomplete" data-item="0" role="menu" style="display: none;">
					<li data-searchcol="0" class="item0 fill-item-abast o-selection-focus"><a class="o-expand" href="#"></a><a href="#">Buscar <em>N° GD</em> para: <strong></strong></a></li>
					<li data-searchcol="1" class="item1 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Cliente</em> para: <strong></strong></a></li>
					<li data-searchcol="2" class="item2 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Detalle</em> para: <strong></strong></a></li>
					<li data-searchcol="3" class="item3 fill-item-abast"><a class="o-expand" href="#"></a><a href="#">Buscar <em>Observación</em> para: <strong></strong></a></li>
				</ul>
			</div>

			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px;">
				<div style="display: flex;">
					
					<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_despachos' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
		    
			        <button type="button" accesskey="k" aria-label="kanban" data-view-type="kanban" title="" data-view='item_gd' class="btn btn-icon fa fa-lg fa-th-large view-option" data-original-title="Kanban"></button>
		    
		    	    <button type="button" aria-label="calendar" data-view-type="calendar" title="" data-view='calendar_peds' class="btn btn-icon fa fa-lg fa-calendar view-option" data-original-title="Calendario"></button>
		    
		       		<!--<button type="button" aria-label="pivot" data-view-type="pivot" title="" data-view='pivot' class="btn btn-icon fa fa-lg fa-table view-option" data-original-title="Pivote"></button>
		    	
		        	<button type="button" aria-label="graph" data-view-type="graph" title="" data-view='graph' class="btn btn-icon fa fa-lg fa-bar-chart view-option" 	data-original-title="Gráfico"></button>-->
					<select class="form-control" id="select_tipo_despacho" style="margin-left: 30px " onchange="buscar_gd()">
					    <option value="">Todos</option>
					    <option value="Venta">Venta</option>
					    <option value="Traslado">Traslado</option>
					    <option value="Anulado">Anulado</option>
					    <option value="Devolución">Devolución</option>
					    <option value="Otro">Otro</option>
					    <option value="Blanco">Blanco</option>
					</select>
				</div>
	        </div>
			<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
				<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#" class="getcsvof" data-tipo="desp"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row row-main" style=" margin: 0; padding: 0; width: 100%">
	<div class="col-sm-12 main-page" style="margin: 0; padding: 0; z-index: 5;top: -7px;"></div>
</div>

<script type="text/javascript">
    var array_fill = [
        "GD@default",
        "Cliente@primary",
        "Detalle@success",
        "Observación@info"
    ];
    var filtros_seleccionados = [];
	function refreshTable(){
        $.ajax({
            type: 'POST',
            data: {clave: $("#buscar_despacho").val(), orden: $(".o_cp_switch_buttons .active").data('view').split('/')[1], tipo: $("#select_tipo_despacho").val()},
            url: '/bodega/table_despachos',
            beforeSend: function(){
                $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
            },
            success: function(data){
                $(".main-page").html(data);
                //Muestra la cantidad de despachos
				$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
            }
        });
	}
	$(document).ready(function(){
        $.ajax({
            type: 'POST',
            data: {clave: $("#buscar_despacho").val(), orden: 'despacho.fecha-DESC', tipo: $("#select_tipo_despacho").val()},
            url: '/bodega/table_despachos',
			beforeSend: function(){
                $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
			},
            success: function(data){
                $(".main-page").html(data);
                //Muestra la cantidad de despachos
				$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
            }
        });
	    /*$.ajax({
			type: 'GET',
			url: '/bodega/table_despachos/despacho.iddespacho-DESC',
			success: function(data){
				$(".main-page").html(data);
			}
		});*/
		$(".row-main").css('padding-top', $(".o_control_panel").css('height') );
	});

	function refreshTablaDespachos(yo){
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_despacho").val(), orden: '', tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/table_despachos',
                beforeSend: function(){
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
				}
			});
		}
		else{
			$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_despacho").val(), tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/item_gd',
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text() + " despacho(s)</small></h5>");
				}
			});
		}
	}
	function buscar_gd(){
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: filtros_seleccionados.join(','), orden: 'despacho.fecha', tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/table_despachos',
                beforeSend: function(){
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
				}
			});
		}
		else{
			$.ajax({
				type: 'POST',
				data: {clave: $(this).val(), tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/item_gd',
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text() + " despacho(s)</small></h5>");
				}
			});		
		}
    }

    $('.fill-item-abast').hover(function() {
        $(this).css('cursor','pointer');
        $('.fill-item-abast').removeClass("o-selection-focus");
        $(this).addClass("o-selection-focus");
        $(".o_searchview_autocomplete").data('item', $(this).data('searchcol'));
    });
    $("#buscar_despacho").on('keyup', function(e){
        e.preventDefault();
        if($(this).val() == '' || $(this).val() == null || $(this).val()==undefined ){
            $(".o_searchview_autocomplete").css('display', 'none');
            $(".o_searchview_autocomplete strong").html('');
        }
        else{
            $(".o_searchview_autocomplete").css('display', 'block');
            $(".o_searchview_autocomplete strong").html($(this).val());
        }
    });


    $(".fill-item-abast").on('click', function(e){
        e.preventDefault();
        var clase = array_fill[parseInt($(this).data('searchcol'))].split('@');
        var labels = parseInt($(".etiqueta-filtro-div").data('cant'));
        $(".etiqueta-filtro-div").append(
            "<label id='label"+labels+"' data-valor='"+$(this).data('searchcol')+"@"+$("#buscar_despacho").val()+"' class='etiqueta-filtro label label-"+clase[1]+"'>"+clase[0]+": <strong>"
            +$("#buscar_despacho").val()+
            "</strong> <div onclick='eliminarEtiqueta(this)' class='fa fa-sm fa-remove etiqueta-filtro-del'></div></label>"
        );
        $(".etiqueta-filtro-div").data('cant', labels+1);
        if($("#buscar_despacho-value").val() == '' || $("#buscar_despacho-value").val() == null || $("#buscar_despacho-value").val() == undefined){
            $("#buscar_despacho-value").val($(this).data('searchcol')+"@"+$("#buscar_despacho").val());
        }
        else{
            $("#buscar_despacho-value").val([$("#buscar_despacho-value").val(),$(this).data('searchcol')+"@"+$("#buscar_despacho").val()].join(','));
        }
        filtros_seleccionados.push($(this).data('searchcol')+"@"+$("#buscar_despacho").val());
        $(".o_searchview_autocomplete").css('display', 'none');
        $(".o_searchview_autocomplete strong").html('');
        $("#buscar_despacho").val('');
        $("#buscar_despacho").focus();
        buscar_gd();
    });

    function eliminarEtiqueta(yo){
        filtros_seleccionados.splice(filtros_seleccionados.indexOf($(yo).parent().data('valor')),1);
        $(yo).parent().remove();
        $(".etiqueta-filtro").removeAttr('id');
        var count = 0;
        $(".etiqueta-filtro").each(function(){
            $(this).attr("id","label"+count);
            count++;
        });
        $(".etiqueta-filtro-div").data('cant', $(".etiqueta-filtro-div").data('cant')-1);
        buscar_gd();
    }


    function despInput(event){
        var char = event.which || event.keyCode;
        var item = $(".o_searchview_autocomplete").data('item');
        //BORRAR LABEL
        if(char == 8 && ($("#buscar_despacho").val()==null || $("#buscar_despacho").val()=='' || $("#buscar_despacho").val()==undefined ) &&  parseInt($(".etiqueta-filtro-div").data('cant')) > 0 ){
            var labels = parseInt($(".etiqueta-filtro-div").data('cant'))-1;
            eliminarEtiqueta($("#label"+labels).children('div'));
        }
        //ENTER
        else if(char == 13){
            $(".fill-item-abast.o-selection-focus").click();
        }
        //ARRIBA
        else if(char == 38){
            item = parseInt(item) - 1;
        }
        //ABAJO
        else if(char == 40){
            item = parseInt(item) + 1;
        }


        //SI SOBREPASA EL LIMITE INFERIOR
        if(parseInt(item) >= 4){
            $(".o_searchview_autocomplete").data('item', "0");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item0").addClass("o-selection-focus");
        }
        //SI SOBREPASA EL LIMITE SUPERIOR
        else if(parseInt(item) < 0){
            $(".o_searchview_autocomplete").data('item', "3");
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item3").addClass("o-selection-focus");
        }
        else{
            $(".o_searchview_autocomplete").data('item', item);
            $(".fill-item-abast").removeClass("o-selection-focus");
            $(".item"+item).addClass("o-selection-focus");
        }

    }
	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		$(this).addClass('active');
		if($(this).data('view') == 'table_despachos'){
            $.ajax({
                type: 'POST',
                data: {clave: $("#buscar_despacho").val(), orden: 'despacho.fecha-DESC', tipo: $("#select_tipo_despacho").val()},
                url: '/bodega/table_despachos',
                beforeSend: function(){
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
                }
            });
		}
		else if($(this).data('view') == 'item_gd'){
            $.ajax({
                type: 'POST',
                data: {clave: $("#buscar_despacho").val(), tipo: $("#select_tipo_despacho").val()},
                url: '/bodega/'+$(this).data('view'),
                success: function(data){
                    $(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text() + " despacho(s)</small></h5>");
                }
            });
        }

	});


    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/plan/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });
</script>