<style>
	.o_searchview_autocomplete {
		position: absolute;
		top: 100%;
		left: auto;
		bottom: auto;
		right: auto;
		width: 100%;
	}
	.o_searchview {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 1px 25px 3px 5px;
	}
	.etiqueta-filtro{
		padding: 5px;
		margin: 3px;
		display: flex;
	}

	.etiqueta-filtro div{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-filtro strong{
		padding: 0px;
		margin: 0px 0px 0px 7px;
		color: white;
	}
	.etiqueta-input{
		padding: 2px 6px;
	}
	.etiqueta-filtro-div{
		display: flex;
	}
</style>
<style>
	.busc-din-menu{
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		transition:0.5s;
		z-index: 9;
	}
	.busc-menu{
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		transition:0.5s;
		z-index: 9;
	}
</style>
<%
var clase;
if(username == 'gestionpl'){clase='busc-din-menu';}
else{clase='busc-menu';}%>
<div id="up-fills" class="row up-fills <%=clase%>">
	<div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; z-index: 10; width: 100%; position: relative">
		<ol class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 breadcrumb" style="padding: 10px 2px 0px 20px; ">
			<li class="active">
				Guía de Despacho
			</li>
			<div class="indicador_paginas"></div>
		</ol>
		<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-6 col-lg-offset-6 col-xl-offset-6 col-xs-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 form-group o_searchview" style="margin: 0; padding: 0; max-height: 32px; margin-top:5px"></div>
		<div class="col-xs-0 col-sm-0 col-md-6 col-lg-6 col-xl-6" style="max-height: 40px;"></div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="margin-top: 5px; display: flex; max-height: 40px;">
			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px;">
				<div style="display: flex;">
					<select class="form-control" id="select_tipo_despacho" style="margin-left: 30px ">
						<option value="">Todos</option>
						<option value="Venta">Venta</option>
						<option value="Traslado">Traslado</option>
						<option value="Anulado">Anulado</option>
						<option value="Devolución">Devolución</option>
						<option value="Otro">Otro</option>
						<option value="Blanco">Blanco</option>
					</select>

					<div class="filters" style="display: flex">

					</div>
				</div>
			</div>
		</div>
		<div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
			<button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
			<ul class="dropdown-menu">
				<li><a href="#" class="getcsvof" data-tipo="desp"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
			</ul>
		</div>
		<div style="width: 100%">
			<button class="btn btn-xs btn-primary pull-right" onclick="hiddenUpMenu('gdTable')"><i class="fa fa-angle-up"></i></button>
		</div>
	</div>
</div>

<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
	<div id="fw-body"  style="padding:0;margin: 0;">
		<div class="content main-page" style="height: 100%; overflow-x: scroll">
		</div>
	</div>
</div>
<!--<div class="row row-main" style=" margin: 0; padding: 0; width: 100%">
	<div class="col-sm-12 main-page" style="margin: 0; padding: 0; z-index: 5;top: -7px;"></div>
</div>-->

<style>
	.ch_page:hover{
		cursor:pointer;
		color: black;
		font-size: 15px;
	}
</style>

<script type="text/javascript">
    var array_fill = [
        "GDD@default",
        "Cliente@primary",
        "Descripción@success",
        "Observación@info"
    ];

	var busc = new Buscador("buscar_despacho", ".o_searchview", array_fill, "/bodega/table_despachos", "gdTable", true, true, ".filters","gd.fecha");

    busc.add_cond = "gd.estado LIKE '%"+$("#select_tipo_despacho").val()+"%'";


	$("#select_tipo_despacho").on('change',function(e){
	    e.preventDefault();
		busc.add_cond = "gd.estado LIKE '%"+$(this).val()+"%'";
		busc.buscar_action();
	});
    $(document).ready(function(){

        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.buscar_action();
	});

    function refreshTablaDespachos(yo){
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_despacho").val(), orden: '', tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/table_despachos',
                beforeSend: function(){
                    $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
                },
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text().split(" ")[0] + " despacho(s), " +$("#registros").text().split(" ")[1] + " materiales</small></h5>");
				}
			});
		}
		else{
			$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_despacho").val(), tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/item_gd',
				success: function(data){
					$(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text() + " despacho(s)</small></h5>");
				}
			});
		}
	}



	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		$(this).addClass('active');
		if($(this).data('view') == 'table_despachos'){
            busc.buscar_action();
		}
		else if($(this).data('view') == 'item_gd'){
            $.ajax({
                type: 'POST',
                data: {clave: $("#buscar_despacho").val(), tipo: $("#select_tipo_despacho").val()},
                url: '/bodega/'+$(this).data('view'),
                success: function(data){
                    $(".main-page").html(data);
					//Muestra la cantidad de despachos
					$("#despachos").html("<h5><small>Mostrando " + $("#registros").text() + " despacho(s)</small></h5>");
                }
            });
        }

	});


    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/plan/xlsx_' + $(this).data('tipo'),
            success: function(data) {
                window.open(data,'_blank');
            }
        });

    });


	var alto_buscador = $(".up-fills").height();
	var margen_tabla = $('#fw-container').css('margin-top');
	function mostrar_buscador(){
		$('.up-fills').css('top', alto_buscador);
		$('.up-fills').css('height', alto_buscador);
		$('#fw-container').css('margin-top', margen_tabla+'px');
		$('.up-fills').removeClass('hidden');
		busc.buscar_action(true);
	}
	function restaurar_buscador(){
		$('.up-fills').css('top', alto_buscador);
		$('.up-fills').css('height', alto_buscador);
		$('#fw-container').css('margin-top', margen_tabla+'px');
		busc.buscar_action(true);
		$('.up-fills').css('transition', '0.5s');
	}
	function ocultar_buscador(){
		$('.up-fills').css('z-index', '0');
		$('.up-fills').css('top', '-'+$('.up-fills').height()+'px');
		$('#fw-container').css('margin-top', '0px');
		$('#fw-container').css('padding-top', '30px');
		$("#pageView").val('1');
		//busc.buscar_action();
	}
	function volver_tabla(){
		$('.up-fills').css('z-index', '9');
		$('.up-fills').css('top', 0);
		$('#fw-container').css('margin-top', margen_tabla+'px');
		$('#fw-container').css('padding-top', '0px');
		$('.up-fills').removeClass('hidden');
		busc.buscar_action();
		$("#pageView").val('0');
	}


</script>




<script src="/buscador_funciones.js"></script>


<button class="btn btn-primary search-button-display" id="search-button-display" onclick="showUpMenu('gdTable')" style="
position: fixed;
bottom: -100px;
transition: 1s;
right: 10px;
z-index:100;
-webkit-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);"><i class="fa fa-search fa-3x"></i></button>