<div class="row" style="margin: 0; padding: 0;">
	<div class="col-sm-12 o_control_panel" style="margin: 0; padding: 10px; display: flex; position: fixed; z-index: 10; width: 90%;">
		<ol class="breadcrumb" style="width: 50%; padding: 10px 2px 0px 20px">
			<li class="active">Guía de Despacho</li>
		</ol>
		<div style="width: 40%;">			
			<input type="text" id="buscar_despacho" class="form-control pull-right" placeholder="Buscar...">
			<div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px;">
				<div style="display: flex;">
					
					<button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='table_despachos/pedido.fecha-ASC' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
		    
			        <button type="button" accesskey="k" aria-label="kanban" data-view-type="kanban" title="" data-view='/list_peds' class="btn btn-icon fa fa-lg fa-th-large view-option" data-original-title="Kanban"></button>
		    
		    	    <button type="button" aria-label="calendar" data-view-type="calendar" title="" data-view='/calendar_peds' class="btn btn-icon fa fa-lg fa-calendar view-option" data-original-title="Calendario"></button>
		    
		       		<!--<button type="button" aria-label="pivot" data-view-type="pivot" title="" data-view='pivot' class="btn btn-icon fa fa-lg fa-table view-option" data-original-title="Pivote"></button>
		    	
		        	<button type="button" aria-label="graph" data-view-type="graph" title="" data-view='graph' class="btn btn-icon fa fa-lg fa-bar-chart view-option" 	data-original-title="Gráfico"></button>-->
					<select class="form-control" id="select_tipo_despacho" style="margin-left: 15px " onchange="refreshTablaDespachos(this)">
					    <option value="%%">Todos</option>
					    <option value="%Venta%">Venta</option>
					    <option value="%Traslado%">Traslado</option>
					    <option value="%Anulado%">Anulado</option>
					    <option value="%Devolución%">Devolución</option>
					    <option value="%Otro%">Otro</option>
					    <option value="%Blanco%">Blanco</option>
					</select>
				</div>
	        </div>
		</div>
	</div>
</div>
<div class="row row-main" style=" margin: 0; padding: 0;">
	
			
			<div class="col-sm-12 main-page" style="margin: 0; padding: 0; z-index: 5;">
				
			</div>


	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			type: 'GET',
			url: '/bodega/table_despachos/despachos.fecha-ASC',
			success: function(data){
				$(".main-page").html(data);
			}
		});
		$(".row-main").css('padding-top', $(".o_control_panel").css('height') );
	});

	function refreshTablaDespachos(yo){
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: $("#buscar_despacho").val(), orden: $(".o_cp_switch_buttons .active").data('view'), tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/buscar_despacho_list',
				success: function(data){
					$(".main-page").html(data);
				}
			});
		}
		else{
			/*$.ajax({
				type: 'GET',
				url: '/plan/buscar_pedido_item/'+$(this).val(),
				success: function(data){
					$(".main-page").html(data);
				}
			});*/		
		}
	}
	$("#buscar_despacho").on('keyup', function(e){
		e.preventDefault();
		if($(".o_cp_switch_buttons .active").data('original-title') == 'Lista' ){
			$.ajax({
				type: 'POST',
				data: {clave: $(this).val(), orden: $(".o_cp_switch_buttons .active").data('view'), tipo: $("#select_tipo_despacho").val()},
				url: '/bodega/buscar_despacho_list',
				success: function(data){
					$(".main-page").html(data);
				}
			});
		}
		else{
			/*$.ajax({
				type: 'GET',
				url: '/plan/buscar_pedido_item/'+$(this).val(),
				success: function(data){
					$(".main-page").html(data);
				}
			});*/		
		}
	});


	$('.view-option').on('click', function(e){
		e.preventDefault();
		$('.view-option').removeClass('active');
		$(this).addClass('active');
		$.ajax({
			type: 'GET',
			url: '/plan/'+$(this).data('view'),
			success: function(data){
				$(".main-page").html(data);
			}
		});

	});
	

</script>