<style>
    .o_searchview_autocomplete {
        position: absolute;
        top: 100%;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
    }
    .o_searchview {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 25px 3px 5px;
    }
    .etiqueta-filtro{
        padding: 5px;
        margin: 3px;
        display: flex;
    }

    .etiqueta-filtro div{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-filtro strong{
        padding: 0px;
        margin: 0px 0px 0px 7px;
        color: white;
    }
    .etiqueta-input{
        padding: 2px 6px;
    }
    .etiqueta-filtro-div{
        display: flex;
    }
    .indicator-color::before {
        content: 'aa';
        width: 2px;
        height: 2px;
        margin-right: 2px;
    }


    .indicator-color-green::before {
        color: rgb(223,240,216);
        background-color: rgb(223,240,216);
    }
    .indicator-color-red::before {
        color: rgb(242,222,222);
        background-color: rgb(242,222,222);
    }


</style>

<!-- Modal -->
<div id="inventarioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Finalizar Inventario: <small>45 diferencias encontradas</small></h4>
                <ol style="list-style: none; position:absolute; top: 10px; right: 10%; display:flex" class="pull-right">
                    <li class="indicator-color indicator-color-green" style="margin: 2px">Excedente</li>
                    <li class="indicator-color indicator-color-red" style="margin: 2px">Faltante</li>
                </ol>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="send_inventario()">Enviar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
<div id="up-fills" class="row up-fills" style="margin: 0; padding: 0; position: fixed; width: 100%; z-index: 10;">
    <div class="col-sm-12 o_control_panel" style="display: flex; margin: 0; padding: 10px; width: 100%; position: relative">
        <ol class="breadcrumb" style="width: 46%; padding: 10px 2px 0px 20px">
            <li class="active change-inv-title">Bodega Productos Terminados</li>
            <li class="hidden hidden-inv-buttons"><button class="btn btn-success btn-xs" onclick="save_inventario()">Guardar</button></li>
            <li class="hidden hidden-inv-buttons"><button class="btn btn-primary btn-xs" onclick="fin_inventario()">Finalizar</button></li>
            <!-- Mostrar cantidad de datos -->
            <div id="pedidos" data-total="0" style="margin-top: 8px"></div>


        </ol>
        <div style="width: 50%;">
            <div class="form-group o_searchview" style="margin: 0;padding: 0;">

            </div>
            <div class="dropdown pull-right" style="position: absolute; top: 5px; right: 1%">
                <button class="btn btn-xs" type="button" data-toggle="dropdown"><i class="fa fa-bars dropdown-toggle"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="getcsvof" data-tipo="stock"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Descargar Excel</a></li>
                    <!--<li class="option_inventario"><a><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 2px"></i> Realizar Inventario</a></li>-->
                </ul>
            </div>
            <div class="btn-group btn-group-sm o_cp_switch_buttons" style="margin-top: 5px">
                <button type="button" accesskey="l" aria-label="list" data-view-type="list" title="" data-view='Lista' class="btn btn-icon fa fa-lg fa-list-ul view-option active" data-original-title="Lista"></button>
                <div style="display: flex">
                    <label style="margin-left: 30px; margin-top: 6px;">Mostrar Todos</label>
                    <input type="checkbox" id="show_zeros" style="margin-left: 10px;margin-top: 6px; width: 20px; height: 20px">
                    <h5 style="margin-left: 10px" class="indicator-oc-check"><small>Mostrando solo productos(s) en existencia</small></h5>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="fw-container" style="background-color: white; width: 100%; height: 100%;">
    <div id="fw-body"  style="padding:0;margin: 0;">
        <div class="content main-page">
        </div>
    </div>
</div>

<style>
    .ch_page:hover{
        cursor:pointer;
        color: black;
        font-size: 15px;
    }
    .caption a:hover{
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    var tipo = 'otro';
    var idinventario = '<%= %>';

    var array_fill = [
        "Código@primary",
        "Detalle@primary"
    ];

    var busc = new Buscador("buscar_bodega", ".o_searchview", array_fill, "/bodega/table_bodega", "DataTableBodega", true, false);

    busc.add_cond = "gd.estado LIKE '%"+$("#select_tipo_despacho").val()+"%'";


    $(document).ready(function(){
        $(".up-fills").css('margin-top', $("#oe_main_menu_navbar").outerHeight());
        busc.extraInfo = [tipo];
        busc.add_cond = "material.stock>0";
        busc.buscar_action();
    });

    function send_inventario(){
        $.ajax({
            type: 'GET',
            url: '/bodega/fin_inventario/'+idinventario,
            success: function(data){
                $("#inventarioModal").modal('hide');
                setTimeout(function(){
                    alert("¡Inventario realizado con exito!");
                    $("#page-wrapper").html(data);
                    $("#page-wrapper").fadeIn();
                }, 550);
            }
        });
    }

    function changeStateInventario(yo){
        if(parseInt($(yo).parent().parent().children('.dif-inv').html()) == 0){
            $(yo).parent().parent().removeClass('danger');
            $(yo).parent().parent().addClass('success');

        }
        else{
            $(yo).parent().parent().removeClass('success');
            $(yo).parent().parent().addClass('danger');
        }
    }
    function save_inventario(){
        var inv = {
            idmaterial: [],
            cantidades: [],
            idinventario: idinventario
        };
        $(".inv-col input").each(function(){
            aux = $(this).val();
            if($(this).val()){
                inv.idmaterial.push($(this).data('idmaterial'));
                inv.cantidades.push($(this).val());
            }
        });
        console.log(inv.idmaterial);
        if(!inv.idmaterial){
            inv.idmaterial = [];
            inv.cantidades = [];
        }
        $.ajax({
            type:'POST',
            data: inv,
            url: '/bodega/save_inventario',
            success: function(data){
                alert(data);
            }
        });
    }

    function fin_inventario(){

        $.ajax({
            type:'GET',
            url: '/bodega/show_fin_inventario',
            success: function(data){
                $("#inventarioModal .modal-dialog .modal-content .modal-body").html(data);
                $("#inventarioModal").modal('show');
            }
        });
    }

    function changeSize(yo){
        $(".row_main").css('font-size', $(yo).val()+"px");
    }



    function buscar_bodega(){
        var idin;
        $.ajax({
            type: 'POST',
            data: {clave: filtros_seleccionados.join(','), zeros: $('#show_zeros').is(":checked"), tipo: tipo},
            url: '/bodega/table_bodega',
            beforeSend: function(){
                destroyDataTable();
                $(".main-page").html("<div style='width: 100%; height:100%;text-align: center;'><img style='width: 20%;margin: 11%;' src='/loading.gif'></div>");
            },
            success: function(data){
                $(".main-page").html(data);
                //Muestra la cantidad de pedidos
                $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                /*if(tipo == 'inv'){
                    $.ajax({
                        type: 'GET',
                        url: '/bodega/get_last_inventario',
                        success: function (data) {
                            $(".dif-inv").html(0);
                            $(".dif-inv").parent().addClass('success');
                            for(var c = 0; c < data.length; c++){
                                idin = data[c.toString()].idinventario;
                                $(".inv-col input[data-idmaterial='"+data[c.toString()].idmaterial+"']").val(data[c.toString()].cantidad);
                                $(".dif-inv[data-idmaterial='"+data[c.toString()].idmaterial+"']").html(
                                    $(".inv-col input[data-idmaterial='"+data[c.toString()].idmaterial+"']").val() - $(".stock-inv[data-idmaterial='"+data[c.toString()].idmaterial+"']").data('stock')
                                );

                                if(parseInt($(".dif-inv[data-idmaterial='"+data[c.toString()].idmaterial+"']").html()) != 0){
                                    $(".dif-inv[data-idmaterial='"+data[c.toString()].idmaterial+"']").parent().removeClass('success');
                                    $(".dif-inv[data-idmaterial='"+data[c.toString()].idmaterial+"']").parent().addClass('danger');
                                }
                            }
                            $(".change-inv-title").html("Inventario N° "+idin);
                            idinventario = idin;
                        }
                    });
                }*/
            }
        });
    }


    $(".option_inventario").on('click', function(e){
        e.preventDefault();
        busc.extraInfo = ['inv'];
        busc.buscar_action();
    });


    $('.view-option').on('click', function(e){
        e.preventDefault();
        $('.view-option').removeClass('active');
        $(this).addClass('active');
        if($(this).data('view')=='item_odcs') {
            // Quita el nav de paginacion
            $("#paginacion").css('display','none');
            $.ajax({
                type: 'GET',
                url: '/bodega/'+$(this).data('view'),
                success: function(data){
                    $(".main-page").html(data);
                    //Muestra la cantidad de pedidos
                    $("#pedidos").html("<h5><small>Mostrando " + $("#registros").text() + " pedido(s)</small></h5>");
                }
            });
        }
        else if($(this).data('view') == 'Lista') {
            // Muestra el nav de paginacion
            $("#paginacion").css('display','block');
            buscar_bodega();
        }

    });






    $("#show_zeros").on('change', function(e){
        e.preventDefault();
        if($(".indicator-oc-check").css('display') == 'block'){
            $(".indicator-oc-check").css('display', 'none');
            busc.add_cond = "";
        }
        else{
            $(".indicator-oc-check").css('display', 'block');
            busc.add_cond = "material.stock > 0";
        }
        busc.buscar_action();
    });

    $(".getcsvof").click(function(e){
        var yo = $(this);
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/bodega/csv_' + $(this).data('tipo'),
            success: function(data) {
                yo.attr("href",data);
                yo.attr("download","stock hasta ~ " + new Date().toLocaleDateString() + ".csv");
                yo.removeClass("getcsv");
                yo.html("<i class='fa fa-download'></i> Descargar Excel");
                console.log(data);
            }
        });

    });

</script>

<script src="/buscador_funciones.js"></script>