<style>
    .nivel > div{
    }
</style>
<div class="" style="margin-top: 50px">
    <div class="new_p">
        <div class="col-sm-offset-1 col-sm-10">

            <div class="panel panel-primary">
                <div class="panel-heading">Productos Nuevos: <button class="btn btn-xs btn-primary pull-right" onclick="add_col_p()">Agregar <i class="fa fa-plus"></i></button></div>
                <div class="panel-body" style="padding: 0%">
                    <div style="overflow-y: scroll; max-height: 500px;">

                    <table class="o_list_view table table-condensed table-striped o_list_view_ungrouped new_product_table">
                        <thead>
                        <tr>
                            <th class="o_column_sortable ">Código</th>
                            <th class="o_column_sortable ">Descripción</th>
                            <th class="o_column_sortable ">Unidad de Medida</th>
                            <th class="o_column_sortable ">Peso (kg)</th>
                            <th></th>

                        </tr>
                        </thead>
                            <tbody class="ui-sortable">
                                <tr id="col-newp">
                                    <td class="codigo-col"></td>
                                    <td><input placeholder="Descipción del Producto" style="width: 100%" type="text" class="form-control input-sm" id="nombre"></td>
                                    <td><input placeholder="Unidad de Medida" style="width: 100%" type="text" class="form-control input-sm" id="unid"></td>
                                    <td><input placeholder="Peso (kg)" style="width: 100%" type="number" class="form-control input-sm" id="peso"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                    </table>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button class="btn btn-primary" onclick="save_p()">Registrar 0 productos</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 select_codigo">
        <div class="panel panel-info">
            <div class="panel-heading">Tipo de Producto:</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="sel1">Tipo de Producto:</label>
                    <select class="form-control tipo_p" onchange="act_codigo()">
                        <option value="P" >Producto Terminado</option>
                        <option value="M" >Materia Prima</option>
                        <option value="I" >Insumos</option>
                        <option value="S" >Semi Elaborados</option>
                        <option value="O" >Servicio / Otros</option>
                        <option value="C" >Chatarra</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Clasificación del Producto:</label>
                    <select class="form-control clas_p" onchange="act_codigo()">
                        <option value="00">Venta Directa</option>
                        <option value="01">Producto Producido</option>
                        <option value="02">Terceros (Maquila)</option>
                        <option value="03">Líquido</option>
                        <option value="04">Sólido</option>
                        <option value="05">Polvo</option>
                        <option value="06">Servicio/Otros</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 select_codigo">
        <div class="panel panel-success">
            <div class="panel-heading">Aleación del Producto</div>
            <div class="panel-body">
                <div style="display: flex">
                    <div class="form-group" style="width: 50%;">
                        <label for="sel1">Aleación del Producto:</label>
                        <select class="form-control alea_p" onchange="act_codigo()">
                            <option value="00">	No Aleacion</option>
                            <option value="01">	MANGANESO</option>
                            <option value="02">	ALTO CROMO</option>
                            <option value="03">	ESPECIAL</option>
                            <option value="04">	ACEROS AL CARBONO</option>
                            <option value="05">	INOXIDABLE</option>
                            <option value="06">	REFREACTARIO</option>
                            <option value="07">	FIERRO FUNDIDO</option>
                            <option value="08">	NODULAR</option>
                            <option value="09">	ACEROS CORAZAS</option>
                            <option value="10">	Goma</option>
                            <option value="11">	Goma Ceramica</option>
                            <option value="12">	Laminado</option>
                            <option value="13">	Bimetalico</option>
                            <option value="14">	Estrucrura</option>
                            <option value="15">	Forjado</option>
                            <option value="16">	ACERO CROMO MOLI</option>
                            <option value="17">	Ceramico Alumina</option>

                        </select>
                    </div>
                    <div class="form-group" style="width: 50%;">
                        <label for="sel1">Subaleación del Producto:</label>
                        <select class="form-control suba_p" onchange="act_codigo()">
                            <option value="00">	No Aleacion</option>
                            <option value="01">	A 128 B</option>
                            <option value="02">	A 128 C</option>
                            <option value="03">	A 128 B1</option>
                            <option value="04">	A 128 E1</option>
                            <option value="05">	A 128 F</option>
                            <option value="06">	SV MN 6</option>
                            <option value="07">	A 532 II B</option>
                            <option value="08">	A 532 II D</option>
                            <option value="09">	A 532 III A</option>
                            <option value="10">	A 532 I C</option>
                            <option value="11">	CCW</option>
                            <option value="12">	º B AAR M 201</option>
                            <option value="13">	º C AAR M 201</option>
                            <option value="14">	KACE C</option>
                            <option value="15">	KACE P</option>
                            <option value="16">	Acero Especial Coquillas</option>
                            <option value="17">	Acero Especial D&S</option>
                            <option value="18">	Acero Especial Incamin</option>
                            <option value="19">	WT</option>
                            <option value="20">	WT HIGH</option>
                            <option value="21">	WT ESPECIAL</option>
                            <option value="22">	WT (DIENTE PALA)</option>
                            <option value="23">	CCNb</option>
                            <option value="24">	CCNb MODIFICADO</option>
                            <option value="25">	A 217 WC 6</option>
                            <option value="26">	A 217 GR C5</option>
                            <option value="27">	A 27</option>
                            <option value="28">	A 148</option>
                            <option value="29">	SV 500</option>
                            <option value="30">	SV 400</option>
                            <option value="31">	SVM 450</option>
                            <option value="32">	A 27 GR 70/40</option>
                            <option value="33">	A 27 GR 65/35</option>
                            <option value="34">	A 27 GR 60/30</option>
                            <option value="35">	SAE 1020</option>
                            <option value="36">	SAE 1030</option>
                            <option value="37">	SAE 1045</option>
                            <option value="38">	SAE 1050</option>
                            <option value="39">	SAE 1070</option>
                            <option value="40">	SAE 4340</option>
                            <option value="67">	SAE 4330</option>
                            <option value="41">	AISI 316</option>
                            <option value="42">	A 447</option>
                            <option value="43">	297 HC</option>
                            <option value="44">	297 HD</option>
                            <option value="45">	297 HE</option>
                            <option value="46">	297 HH</option>
                            <option value="47">	297 HK</option>
                            <option value="48">	A 48 CL 20</option>
                            <option value="49">	A 48 CL 25</option>
                            <option value="50">	A 48 CL 30</option>
                            <option value="51">	A 48 CL 40</option>
                            <option value="52">	A 48 CL 50</option>
                            <option value="53">	A 48 CL 60</option>
                            <option value="54">	A 48 CL 31</option>
                            <option value="55">	A 48 CL 32</option>
                            <option value="56">	A 48</option>
                            <option value="57">	A 536 60-40-18</option>
                            <option value="58">	A 536 65-45-12</option>
                            <option value="59">	A 536 80-55-06</option>
                            <option value="60">	A 536 80-55-06 (BATEAS)</option>
                            <option value="61">	A 536 100-70-3</option>
                            <option value="62">	A 536</option>
                            <option value="63">	SV M 500</option>
                            <option value="64">	SVM SAG</option>
                            <option value="66">	SVM SAG - MTS</option>
                            <option value="65">	ESTRUCTURAS</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sel1">Modelo del Producto:</label>
                    <select class="form-control mode_p" onchange="act_codigo()">
                        <option value="01">	ACOPLAMIENTO</option>
                        <option value="02">	ACOPLE</option>
                        <option value="03">	ADAPTADOR</option>
                        <option value="04">	ANILLO</option>
                        <option value="05">	APRON</option>
                        <option value="06">	ARO</option>
                        <option value="07">	BARRA</option>
                        <option value="08">	BANDEJA</option>
                        <option value="09">	BLOQUE</option>
                        <option value="10">	BOCINA</option>
                        <option value="11">	BOTTON</option>
                        <option value="12">	BOWL</option>
                        <option value="13">	CALUGON</option>
                        <option value="14">	CAMPANA</option>
                        <option value="15">	CANALON</option>
                        <option value="16">	CAÑERIA</option>
                        <option value="17">	CHAPA</option>
                        <option value="18">	CONCAVO</option>
                        <option value="19">	CONO</option>
                        <option value="20">	COQUILLA</option>
                        <option value="21">	CORAZA</option>
                        <option value="22">	CORONA</option>
                        <option value="23">	CUBRE</option>
                        <option value="24">	CUELLO</option>
                        <option value="25">	CUÑA</option>
                        <option value="26">	DESCANSO</option>
                        <option value="27">	DISCOS</option>
                        <option value="28">	DESMONTADOR</option>
                        <option value="29">	ECLISA</option>
                        <option value="30">	ELEMENTO</option>
                        <option value="31">	ENGANCHE</option>
                        <option value="32">	EJE</option>
                        <option value="33">	EQUILIBRADOR</option>
                        <option value="34">	EQUIPO</option>
                        <option value="35">	ESLABON</option>
                        <option value="36">	FEED</option>
                        <option value="37">	FORRO</option>
                        <option value="38">	IMPULSOR</option>
                        <option value="39">	INNER</option>
                        <option value="40">	INSERTO</option>
                        <option value="41">	JGO.</option>
                        <option value="42">	LABIO</option>
                        <option value="43">	LAINA</option>
                        <option value="44">	LATA</option>
                        <option value="45">	LINGOTERA</option>
                        <option value="46">	LINNER</option>
                        <option value="47">	LIFTER</option>
                        <option value="48">	LLANTA</option>
                        <option value="49">	LIFTER</option>
                        <option value="50">	LOWER</option>
                        <option value="51">	MACHON</option>
                        <option value="52">	MANTO</option>
                        <option value="53">	MANTO</option>
                        <option value="54">	MUELA</option>
                        <option value="55">	PARRILLA</option>
                        <option value="56">	PEINE</option>
                        <option value="57">	PERNO</option>
                        <option value="58">	PIEZA</option>
                        <option value="59">	PIÑON</option>
                        <option value="60">	PLACA</option>
                        <option value="61">	PLANCHA</option>
                        <option value="62">	PLATO</option>
                        <option value="63">	PLOMO</option>
                        <option value="64">	POLEA</option>
                        <option value="65">	PORTA</option>
                        <option value="66">	PROTECTOR</option>
                        <option value="67">	PUENTE</option>
                        <option value="68">	RODAMIENTO</option>
                        <option value="69">	RODILLO</option>
                        <option value="70">	ROTOR</option>
                        <option value="71">	RUEDA</option>
                        <option value="72">	SEGMENTO</option>
                        <option value="73">	SELLO</option>
                        <option value="74">	SISTEMA</option>
                        <option value="75">	SOLERA</option>
                        <option value="76">	SOLDADURA</option>
                        <option value="77">	SOPORTE</option>
                        <option value="78">	SUFRIDERA</option>
                        <option value="79">	TAMBOR</option>
                        <option value="80">	TAPA</option>
                        <option value="81">	TORNILLO</option>
                        <option value="82">	TOP</option>
                        <option value="83">	TRAVESAÑO</option>
                        <option value="84">	TUBO</option>
                        <option value="85">	TUERCA</option>
                        <option value="86">	UPPER</option>
                        <option value="87">	VIGA</option>
                        <option value="88">	WEAR</option>
                        <option value="89">	YUNQUE</option>
                        <option value="90">	MEL</option>
                        <option value="91">	MEL MOSTRADO</option>
                        <option value="92">	MEL OPUESTO</option>
                        <option value="93">	SGCM</option>
                        <option value="94">	CUBO</option>
                        <option value="95">	CILINDRO</option>
                        <option value="98">	CERAMICO</option>
                        <option value="99">	Otros</option>
                    </select>
                </div>


            </div>
        </div>

    </div>

    <script>
        var session = {
            codigos: [],
            cants: [],
            ver: []
        };

        function put_zeros(num){
            var z = "";
            if(num.toString().length < 3){
                for(var w=0; w < 3 - num.toString().length; w++){
                    z += "0";
                }
                return z+num.toString();
            }
            else{
                return num.toString();
            }
        }


        function act_codigo(){
            var ver = 0;
            var code = $(".tipo_p").val().toString() +
                $(".clas_p").val().toString() +
                $(".alea_p").val().toString() +
                $(".suba_p").val().toString() +
                $(".mode_p").val().toString();
            $.ajax({
                type: 'GET',
                url: '/dt/check_code_version/'+code,
                success: function(data){
                    console.log(session);
                    ver = parseInt(data.split('@')[1]);
                    if(session.codigos.indexOf(data.split('@')[0]) != -1 ){
                        ver = ver + session.cants[session.codigos.indexOf(data.split('@')[0])];
                    }
                    ver = put_zeros(ver);
                    $(".codigo-col").text(data.split('@')[0]+ver);
                }
            });

        }
        act_codigo();
        function rem_col_p(yo){
            var i = session.codigos.indexOf($(yo).data('cod'));
            session.cants[i] = session.cants[i] - 1;
            var c = 0;
            var aux;
            var d_cod = $(yo).data('cod');
            $(yo).parent().parent().remove();

            if(session.cants[i] === 0){
                session.codigos.splice(i, 1);
                session.cants.splice(i, 1);
                session.ver.splice(i, 1);
            }
            else{
                //SE ACTUALIZAN TODOS LOS CÓDIGOS EN SESSION SEGÚN LA CANTIDAD POR CREAR Y EL NÚMERO DE VERSION
                $(".info-td[data-name='cod']").each(function(){
                    if(d_cod === $(this).data('cod')){
                        aux = $(this).children('input').val().substring(0,9)+put_zeros(c+parseInt(session.ver[i]));
                        $(this).children('input').val(aux);
                        $(this).html("<input type='hidden' value='"+aux.substring(0,9)+"'>"+aux);
                        c++;
                    }
                });
            }
            refresh_cant_p();
            act_codigo();
        }
        function add_col_p(){
            $.ajax({
                type: 'GET',
                url: '/dt/check_code_version/'+$(".codigo-col").text().substring(0,9),
                success: function(data){
                    if(session.codigos.indexOf(data.split('@')[0]) === -1){
                        session.codigos.push($(".codigo-col").text().substring(0,9));
                        session.cants.push(1);
                        session.ver.push(parseInt(data.split('@')[1]));
                    }
                    else{
                        session.cants[session.codigos.indexOf($(".codigo-col").text().substring(0,9))] += 1;
                    }
                    $(".new_product_table tbody").prepend(
                        "<tr class='info-tr'>" +
                        "<td data-name='cod' class='info-td' data-cod='"+$(".codigo-col").text().substring(0,9)+"'><input type='hidden' value='"+$(".codigo-col").text()+"'>"+$(".codigo-col").text()+"</td>" +
                        "<td data-name='nombre' class='info-td'><input type='hidden' value='"+$("#nombre").val()+"'>"+$("#nombre").val()+"</td>" +
                        "<td data-name='unid' class='info-td'><input type='hidden' value='"+$("#unid").val()+"'>"+$("#unid").val()+"</td>" +
                        "<td data-name='peso' class='info-td'><input type='hidden' value='"+$("#peso").val()+"'>"+$("#peso").val()+"</td>" +
                        "<td><button class='btn btn-danger btn-xs del-newp' data-cod='"+$(".codigo-col").text().substring(0,9)+"' onclick='rem_col_p(this)'><i class='fa fa-times'></i></button></td>" +
                        "</tr>"
                    );
                    refresh_cant_p();
                    act_codigo();
                }
            });
        }
        function refresh_cant_p(){
            var c = 0;
            $(".new_product_table tbody tr").each(function(){
                c++;
            });
            $(".panel-footer button").text("Registrar "+(c-1)+" productos");
        }
        function save_p(){
            var data = {
                cod: [],
                nombre: [],
                unid: [],
                peso: []
            };
            $(".info-tr").each(function(){
                $(this).children('.info-td').each(function(){
                    data[$(this).data('name')].push($(this).children('input').val());
                });
            });
            $.ajax({
                type: 'POST',
                data: data,
                url: '/dt/save_producto',
                success: function(data){
                    $("#page-wrapper").html(data);
                    $("#page-wrapper").fadeIn();
                }
            });
        }


    </script>
</div>