

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title>DataTables example - Header and footer fixed</title>


        <!-- jQuery -->
        <script src="/vendor/jquery/jquery.min.js"></script>
    </head>
    <body class="o_web_client" style="overflow-y: scroll;">
        <div>
            <h1>HOLA MUNDO</h1>
            <input type="text" id="campo-material">
            <script>
                $("#campo-material").on('keyup', function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/test/get_data_material/'+ $("#campo-material").val(),
                        success: function(data){
                            //AQUI VUELVE
                            $("#tabla-material").html(data);
                        }
                    });
                });
            </script>
            <table id="tabla-material">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Detalle</th>
                    <th>Unidad</th>
                </tr>
                </thead>
                <tbody>
                <%for(var e = 0 ; e < datos.length; e++){%>
                    <tr>
                        <td><%= datos[e].codigo%></td>
                        <td><%= datos[e].detalle%></td>
                        <td><%= datos[e].unidad%></td>
                    </tr>
                <%}%>
                </tbody>
            </table>

        </div>
    </body>
</html>
